@import "flexbox";

//overwrite tab-focus blue  glow in active and focus
@mixin tab-focus() {
  // Default
  outline: 0 none;
  // Webkit
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: 0;
}
