.list-content-wrap
    .img-wrap
        img.img-responsive(src='images/dummyimagte7.jpg', alt='')
    .text-wrap
        p Revitalization of Local Communities will improve Life Quality of 300,000 citizens of BiH
        a.default-link(href='javascript:void(0);') More &raquo;
    .overlay-wrap
        h3 How does investing in disaster prevention pay off?
        p. Floods in 2004, 2006, 2009, 2010 and
            especially in 2014 have shown us over
            and over again that our country is fully
            exposed to the effects of
            climate change.