footer.undp-footer.country-footer
  .container
    ul.list-inline.list-footer-nav
      li Copyright © United Nations
      li
        a(href='javascript:void(0);') Scam Alert
      li
        a(href='javascript:void(0);')
          span Hosted by
          | UNDP

