footer.undp-footer
  .container
    ul.list-inline.list-footer-nav
      li
        a(href='javascript:void(0);') Jobs
      li
        a(href='javascript:void(0);') Tenders
      li
        a(href='javascript:void(0);') Terms of use
      li
        a(href='javascript:void(0);') Transparency
      li
        a(href='javascript:void(0);') Anti-Fraud Hotline
      li
        a(href='javascript:void(0);') Social & Environmental Hotline
      li
        a(href='javascript:void(0);') Scam Alert
      li
        a(href='javascript:void(0);') Projects
      li
        a(href='javascript:void(0);') Get Involved!
      li
        a(href='javascript:void(0);') Contact us
    p.txt-copyright &copy; 2016 United Nations Development Programme.
