h1 Navs
.row
    .col-md-8.col-sm-8.col-xs-12
        h4 Tabs
        .dark-blue-bg
            ul.list-main-nav
                li.active
                    a(href="javascript:void(0);") Home
                li
                    a(href="javascript:void(0);") Tab Name
                li.disabled
                    a(href="javascript:void(0);") Tab Name
                li.dropdown
                    a(href="javascript:void(0):" data-toggle="dropdown" aria-expanded="true").dropdown-toggle Tab Name
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="javascript:void(0);") Action
                        li
                            a(href="javascript:void(0);") Action
                li.dropdown.disabled
                    a(href="javascript:void(0):" data-toggle="dropdown" aria-expanded="true") Tab Name
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="javascript:void(0);") Action
                        li
                            a(href="javascript:void(0);") Action
    .col-md-4.col-sm-4.col-xs-12
        h4 Breadcrumb
        ul.list-inline.undp-breadcrumb
            li
                a(href="javascript:void(0);") Home
                    span  &raquo;
        ul.list-inline.undp-breadcrumb
            li
                a(href="javascript:void(0);") Home
                    span  &raquo;
            li
                a(href="javascript:void(0);") Inner page
                    span  &raquo;
    .col-xs-12 &nbsp;
    .col-md-6.col-sm-6.col-xs-12
        h4 Pagination
        nav.nav-pagination
            ul.pagination.undp-pagination
                li
                    a(href='javascript:void(0);', aria-label='Previous')
                        span(aria-hidden='true') &laquo; Previous
                li.active
                    a(href='javascript:void(0);') 1
                li
                    a(href='javascript:void(0);') 2
                li
                    a(href='javascript:void(0);') 3
                li
                    a(href='javascript:void(0);') 4
                li
                    a(href='javascript:void(0);', aria-label='Next')
                        span(aria-hidden='true') Next &raquo;
    .col-md-6.col-sm-6.col-xs-12
        h4 Pager
        nav.nav-pagination
            ul.pagination.undp-pagination
                li
                    a(href='javascript:void(0);', aria-label='Previous')
                        span(aria-hidden='true') &laquo; Previous
                li
                    a(href='javascript:void(0);', aria-label='Next')
                        span(aria-hidden='true') Next &raquo;
