//.off-canvas#slide-menu
aside.aside-wrap.aside-link
    ul.list-unstyled(role="tablist" id="aside-link")
        li(role="presentation").active
            a(href="#buttons" aria-controls="buttons" role="tab" data-toggle="tab") Buttons
        li(role="presentation")
            a(href="#typo" aria-controls="typo" role="tab" data-toggle="tab") Typography
        li(role="presentation")
            a(href="#tables" aria-controls="tables" role="tab" data-toggle="tab") Tables
        li(role="presentation")
            a(href="#formelements" aria-controls="formelements" role="tab" data-toggle="tab") Form Elements
        li(role="presentation")
            a(href="#navs" aria-controls="navs" role="tab" data-toggle="tab") Navs
        li(role="presentation")
            a(href="#containers" aria-controls="containers" role="tab" data-toggle="tab") Container
        li(role="presentation")
            a(href="#dialogs" aria-controls="dialogs" role="tab" data-toggle="tab") Dialogs