h1 Container
h4 List groups
.row
    .col-md-4.col-sm-12.col-xs-12
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)") Item 1
                li
                    a(href="javascript:void(0)") Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        | Item 3

    .col-md-4.col-sm-12.col-xs-12
        .main-subnav
            .container
                ul.list-inline
                    li
                        a(href='javascript:void(0);') Item 1
                    li
                        a(href='javascript:void(0);') Item 2
                    li
                        a(href='javascript:void(0);') Item 3

    .col-md-4.col-sm-12.col-xs-12
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)")
                        span.badge 10
                        | Item 1
                li
                    a(href="javascript:void(0)")
                        span.badge 21
                        | Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        span.badge 33
                        | Item 3

.row
    .col-md-4.col-sm-12.col-xs-12
        h4 Panels
        .panel.panel-default
            .panel-body Basic Panel

        .panel.panel-default
            .panel-heading Panel heading
            .panel-body Panel content

        .panel.panel-default
            .panel-body Panel content
            .panel-footer Panel footer

    .col-md-4.col-sm-12.col-xs-12
        h4 &nbsp;
        .panel.panel-warning
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

        .panel.panel-danger
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

        .panel.panel-success
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

    .col-md-4.col-sm-12.col-xs-12
        h4 Wells
        .well Basic well

div &nbsp;
.row
    pre.codesnippet
        //aside links left
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)") Item 1
                li
                    a(href="javascript:void(0)") Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        | Item 3

.row
    pre.codesnippet
        //header sub nav
        .main-subnav
            .container
                ul.list-inline
                    li
                        a(href='javascript:void(0);') Item 1
                    li
                        a(href='javascript:void(0);') Item 2
                    li
                        a(href='javascript:void(0);') Item 3

.row
    pre.codesnippet
        //aside link with count badge
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)")
                        span.badge 10
                        | Item 1
                li
                    a(href="javascript:void(0)")
                        span.badge 21
                        | Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        span.badge 33
                        | Item 3


.row
    pre.codesnippet
        //panel basic
        .panel.panel-default
            .panel-body Basic Panel

.row
    pre.codesnippet
        //panel with heading
        .panel.panel-default
            .panel-heading Panel heading
            .panel-body Panel content


.row
    pre.codesnippet
        //panel with footer
        .panel.panel-default
            .panel-body Panel content
            .panel-footer Panel footer

.row
    pre.codesnippet
        //panel warning
        .panel.panel-warning
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

.row
    pre.codesnippet
        //panel danger
        .panel.panel-danger
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

.row
    pre.codesnippet
        //panel success
        .panel.panel-success
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

.row
    pre.codesnippet
        //well basic
        .well Basic well