.row
    .col-md-4.col-sm-12.com-xs-12
        h4 Modal
        div.modal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                        h4.modal-title Modal title

                    div.modal-body
                        p One fine body

                    div.modal-footer
                        button.btn.btn-default.btn-outline(type="button" data-dismiss="modal") Cancel
                        button.btn.btn-default(type="button") Update


    .col-md-4.col-sm-12.com-xs-12
        h4 Popover

    .col-md-4.col-sm-12.com-xs-12
        h4 Tooltip