//buttons
h1 Buttons
.row
    .col-md-3.col-sm-12.col-xs-12
        h4 Dark-blue background
    .col-md-9.col-sm-12.col-xs-12
        .dark-blue-bg
            button(type="button").btn.btn-default.btn-inverse Default
            button(type="button").btn.btn-default.btn-outline.btn-inverse Other
            //btn dropdown
            .btn-group
                button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-default.btn-inverse.dropdown-toggle Default
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="javascript:void(0);") Action
                    li
                        a(href="javascript:void(0);") Action
                    li
                        a(href="javascript:void(0);") Action 2
                    li
                        a(href="javascript:void(0);") Action 3
            //btn dropdown
            button(type="button").btn.btn-warning.btn-inverse Warning
            button(type="button").btn.btn-danger.btn-inverse Error
            button(type="button").btn.btn-success.btn-inverse Success


            a(href="javascript:void(0);").btn.btn-link.btn-inverse.btn-bold If link is a heading
            a(href="javascript:void(0);").btn.btn-link.btn-inverse Regular link
            a(href="javascript:void(0);").btn.btn-link.btn-warning.btn-inverse Warning
            a(href="javascript:void(0);").btn.btn-link.btn-danger.btn-inverse Error
            a(href="javascript:void(0);").btn.btn-link.btn-success.btn-inverse Success


            div &nbsp;
            //grayed buttons
            button(type="button" disabled="disabled").btn.btn-default Default
            button(type="button" disabled="disabled").btn.btn-default.btn-outline Other
            //btn dropdown
            .btn-group
                button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled").btn.btn-default.dropdown-toggle Default
                    span.caret
                ul.dropdown-menu
                    li
                        a(href="javascript:void(0);") Action
                    li
                        a(href="javascript:void(0);") Action
                    li
                        a(href="javascript:void(0);") Action 2
                    li
                        a(href="javascript:void(0);") Action 3


            button(type="button" disabled="disabled").btn.btn-warning Warning
            button(type="button" disabled="disabled").btn.btn-danger Error
            button(type="button" disabled="disabled").btn.btn-success Success

            a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-bold If link is a heading
            a(href="javascript:void(0);" disabled="disabled").btn.btn-link Regular link

            a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-warning Warning
            a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-danger Error
            a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-success Success

div &nbsp;
//codesnippet

h5 Default button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-default.btn-inverse Default

h5 Border button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-default.btn-outline.btn-inverse Other

h5 Dropdown button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    .btn-group
        button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-default.btn-inverse.dropdown-toggle Default
            span.caret
        ul.dropdown-menu
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action 2
            li
                a(href="javascript:void(0);") Action 3

h5 Button warning on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-warning.btn-inverse Warning

h5 Button error on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-danger.btn-inverse Error

h5 Button success on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-success.btn-inverse Success

//link button on dark bg
h5 Heading button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-inverse.btn-bold If link is a heading

h5 Link button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-inverse Regular link

h5 Link button warning on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-warning.btn-inverse Warning

h5 Link button error on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-danger.btn-inverse Error

h5 Link button success on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-success.btn-inverse Success

//Disabled on dark bg
h5 Disabled default button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-default Default

h5 Disabled border button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-default.btn-outline Other

h5 Disabled dropdown button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    .btn-group
        button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled").btn.btn-default.dropdown-toggle Default
            span.caret
        ul.dropdown-menu
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action 2
            li
                a(href="javascript:void(0);") Action 3
//
h5 Disabled button warning on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-warning Warning

h5 Disabled button error on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-danger Error

h5 Disabled button success on dark blue background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-success Success
//
h5 Disabled heading button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-bold If link is a heading

h5 Disabled link button on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link Regular link

//
h5 Disabled link button warning on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-warning Warning

h5 Disabled link button error on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-danger Error

h5 Disabled link button success on dark blue background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-success Success


div &nbsp;

 // buttons on normal background
.row
    .col-md-4.col-sm-12.col-xs-12
        h4 light-blue right panel / white background
    .col-md-8.col-sm-12.col-xs-12
        button(type="button").btn.btn-default Default
        button(type="button").btn.btn-default.btn-outline Other
        //btn dropdown
        .btn-group
            button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-default.dropdown-toggle Default
                span.caret
            ul.dropdown-menu
                li
                    a(href="javascript:void(0);") Action
                li
                    a(href="javascript:void(0);") Action
                li
                    a(href="javascript:void(0);") Action 2
                li
                    a(href="javascript:void(0);") Action 3



        button(type="button").btn.btn-warning Warning
        button(type="button").btn.btn-danger Error
        button(type="button").btn.btn-success Success

        a(href="javascript:void(0);").btn.btn-link.btn-bold If link is a heading
        a(href="javascript:void(0);").btn.btn-link Regular link

        a(href="javascript:void(0);").btn.btn-link.btn-warning Warning
        a(href="javascript:void(0);").btn.btn-link.btn-danger Error
        a(href="javascript:void(0);").btn.btn-link.btn-success Success

        div &nbsp;
        //grayed buttons
        button(type="button" disabled="disabled").btn.btn-default Default
        button(type="button" disabled="disabled").btn.btn-default.btn-outline Other
        //btn dropdown
        .btn-group
            button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled").btn.btn-default.dropdown-toggle Default
                span.caret
            ul.dropdown-menu
                li
                    a(href="javascript:void(0);") Action
                li
                    a(href="javascript:void(0);") Action
                li
                    a(href="javascript:void(0);") Action 2
                li
                    a(href="javascript:void(0);") Action 3


        button(type="button" disabled="disabled").btn.btn-warning Warning
        button(type="button" disabled="disabled").btn.btn-danger Error
        button(type="button" disabled="disabled").btn.btn-success Success

        a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-bold If link is a heading
        a(href="javascript:void(0);" disabled="disabled").btn.btn-link Regular link

        a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-warning Warning
        a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-danger Error
        a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-success Success


div &nbsp;
//codesnippet
h5 Default button on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-default Default

h5 Border button on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-default.btn-outline Other

h5 Dropdown button on white background
    span &lt;/&gt;
pre.codesnippet
    .btn-group
        button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").btn.btn-default.dropdown-toggle Default
            span.caret
        ul.dropdown-menu
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action 2
            li
                a(href="javascript:void(0);") Action 3

h5 Button warning on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-warning Warning

h5 Button error on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-danger Error

h5 Button success on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button").btn.btn-success Success

h5 Heading button on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-bold If link is a heading

h5 Link button on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link Regular link

h5 Link button warning on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-warning Warning

h5 Link button error on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-danger Error

h5 Link button success on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);").btn.btn-link.btn-success Success



h5 Disabled default button on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-default Default

h5 Disabled border button on white background
    span &lt;/&gt;
pre.codesnippet
    button(type="button" disabled="disabled").btn.btn-default.btn-outline Other

h5 Disabled dropdown button on white background
    span &lt;/&gt;
pre.codesnippet
    .btn-group
        button(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled").btn.btn-default.dropdown-toggle Default
            span.caret
        ul.dropdown-menu
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action
            li
                a(href="javascript:void(0);") Action 2
            li
                a(href="javascript:void(0);") Action 3

h5 Disabled heading button on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link.btn-bold If link is a heading

h5 Disabled link button on white background
    span &lt;/&gt;
pre.codesnippet
    a(href="javascript:void(0);" disabled="disabled").btn.btn-link Regular link

div &nbsp;
//social icons
.row
    .col-md-4.col-sm-12.col-xs-12
        h4 Social icons
    .col-md-8.col-sm-12.col-xs-12
        ul.list-inline.list-social-nav
            li
                a.icon-box.facebook(href='http://www.facebook.com/undp', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Facebook', alt='Facebook', style='width: 25px; height: 25px;')
                        g
                            path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z', fill-rule='evenodd')
            li
                a.icon-box.twitter(href='http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=undp', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Twitter', alt='Twitter', style='width: 25px; height: 25px;')
                        g
                            path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336', fill-rule='evenodd')
            li
                a.icon-box.linkedin(href='http://www.linkedin.com/company/undp', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='LinkedIn', alt='LinkedIn', style='width: 25px; height: 25px;')
                        g
                            path(d='M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z', fill-rule='evenodd')
            li
                a.icon-box.youtube(href='http://www.youtube.com/user/undp?sub_confirmation=1', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='YouTube', alt='YouTube', style='width: 25px; height: 25px;')
                        g
                            path(d='M13.73 18.974V12.57l5.945 3.212-5.944 3.192zm12.18-9.778c-.837-.908-1.775-.912-2.205-.965C20.625 8 16.007 8 16.007 8c-.01 0-4.628 0-7.708.23-.43.054-1.368.058-2.205.966-.66.692-.875 2.263-.875 2.263S5 13.303 5 15.15v1.728c0 1.845.22 3.69.22 3.69s.215 1.57.875 2.262c.837.908 1.936.88 2.426.975 1.76.175 7.482.23 7.482.15 0 .08 4.624.072 7.703-.16.43-.052 1.368-.057 2.205-.965.66-.69.875-2.262.875-2.262s.22-1.845.22-3.69v-1.73c0-1.844-.22-3.69-.22-3.69s-.215-1.57-.875-2.262z', fill-rule='evenodd')
            li
                a.icon-box.instagram(href='http://instagram.com/undp', target='_blank')
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Instagram', alt='Instagram', style='width: 25px; height: 25px;')
                        g
                            path(d='M23.734 22.9a.79.79 0 0 1-.794.795H9.02a.79.79 0 0 1-.793-.794v-8.436h1.835c-.17.533-.26 1.12-.26 1.705 0 3.333 2.787 6.028 6.21 6.028 3.44 0 6.225-2.695 6.225-6.03 0-.585-.09-1.17-.26-1.704h1.757V22.9zm-3.698-6.94c0 2.15-1.796 3.894-4.023 3.894-2.214 0-4.01-1.745-4.01-3.893 0-2.148 1.796-3.892 4.01-3.892 2.227 0 4.023 1.745 4.023 3.893zm3.698-4.687a.9.9 0 0 1-.898.9H20.57a.9.9 0 0 1-.898-.9V9.125a.9.9 0 0 1 .898-.898h2.266a.9.9 0 0 1 .898.898v2.148zM26 8.565A2.58 2.58 0 0 0 23.435 6H8.565A2.58 2.58 0 0 0 6 8.565v14.87A2.58 2.58 0 0 0 8.565 26h14.87A2.58 2.58 0 0 0 26 23.435V8.565z', fill-rule='evenodd')
div &nbsp;
//codesnippet

h5 Social icons
    span &lt;/&gt;
pre.codesnippet
    ul.list-inline.list-social-nav
        li
            a.icon-box.facebook(href='http://www.facebook.com/undp', target='_blank')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Facebook', alt='Facebook', style='width: 25px; height: 25px;')
                    g
                        path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z', fill-rule='evenodd')
        li
            a.icon-box.twitter(href='http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=undp', target='_blank')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Twitter', alt='Twitter', style='width: 25px; height: 25px;')
                    g
                        path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336', fill-rule='evenodd')
        li
            a.icon-box.linkedin(href='http://www.linkedin.com/company/undp', target='_blank')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='LinkedIn', alt='LinkedIn', style='width: 25px; height: 25px;')
                    g
                        path(d='M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z', fill-rule='evenodd')
        li
            a.icon-box.youtube(href='http://www.youtube.com/user/undp?sub_confirmation=1', target='_blank')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='YouTube', alt='YouTube', style='width: 25px; height: 25px;')
                    g
                        path(d='M13.73 18.974V12.57l5.945 3.212-5.944 3.192zm12.18-9.778c-.837-.908-1.775-.912-2.205-.965C20.625 8 16.007 8 16.007 8c-.01 0-4.628 0-7.708.23-.43.054-1.368.058-2.205.966-.66.692-.875 2.263-.875 2.263S5 13.303 5 15.15v1.728c0 1.845.22 3.69.22 3.69s.215 1.57.875 2.262c.837.908 1.936.88 2.426.975 1.76.175 7.482.23 7.482.15 0 .08 4.624.072 7.703-.16.43-.052 1.368-.057 2.205-.965.66-.69.875-2.262.875-2.262s.22-1.845.22-3.69v-1.73c0-1.844-.22-3.69-.22-3.69s-.215-1.57-.875-2.262z', fill-rule='evenodd')
        li
            a.icon-box.instagram(href='http://instagram.com/undp', target='_blank')
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Instagram', alt='Instagram', style='width: 25px; height: 25px;')
                    g
                        path(d='M23.734 22.9a.79.79 0 0 1-.794.795H9.02a.79.79 0 0 1-.793-.794v-8.436h1.835c-.17.533-.26 1.12-.26 1.705 0 3.333 2.787 6.028 6.21 6.028 3.44 0 6.225-2.695 6.225-6.03 0-.585-.09-1.17-.26-1.704h1.757V22.9zm-3.698-6.94c0 2.15-1.796 3.894-4.023 3.894-2.214 0-4.01-1.745-4.01-3.893 0-2.148 1.796-3.892 4.01-3.892 2.227 0 4.023 1.745 4.023 3.893zm3.698-4.687a.9.9 0 0 1-.898.9H20.57a.9.9 0 0 1-.898-.9V9.125a.9.9 0 0 1 .898-.898h2.266a.9.9 0 0 1 .898.898v2.148zM26 8.565A2.58 2.58 0 0 0 23.435 6H8.565A2.58 2.58 0 0 0 6 8.565v14.87A2.58 2.58 0 0 0 8.565 26h14.87A2.58 2.58 0 0 0 26 23.435V8.565z', fill-rule='evenodd')
div &nbsp;
.row
    .col-md-4.col-sm-12.col-xs-12
        h4 Floating buttons
    .col-md-8.col-sm-12.col-xs-12.clearfix
        a.btn-share.icon-share-alt(href='javascript:void(0)')
        a.btn-top.icon-caret-up(href='javascript:void(0)')
div &nbsp;
//codesnippet

h5 Floating share button
    span &lt;/&gt;
pre.codesnippet
    a.btn-share.icon-share-alt(href='javascript:void(0)')

h5 Floating go to top button
    span &lt;/&gt;
pre.codesnippet
    a.btn-top.icon-caret-up(href='javascript:void(0)')