//typography
h1 Typography
.row
    .col-md-4.col-sm-12.col-xs-12
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6

    .col-md-4.col-sm-12.col-xs-12
        h4 Body text
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sed lorem eu consequat. Nam nunc est, laoreet at elementum vel, fringilla a urna. Nam sed eros facilisis,
            | efficitur tortor sit amet, rutrum sapien.
        p
            small This line of text is meant to be treated as fine print.
        p The following snippet of text is..
            strong rendered as bold text.
        p The following snippet of text is..
            em rendered as italicized text.
    .col-md-4.col-sm-12.col-xs-12
        h4 Emphasis Classes
        span.emphasis 10 Jul 2016
div &nbsp;

//codesnippet
h5 Heading Tags
    span &lt;/&gt;
pre.codesnippet
        h1 Heading 1
        h2 Heading 2
        h3 Heading 3
        h4 Heading 4
        h5 Heading 5
        h6 Heading 6

h5 Body text - Default
    span &lt;/&gt;
pre.codesnippet
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut hendrerit sed lorem eu consequat. Nam nunc est, laoreet at elementum vel, fringilla a urna. Nam sed eros facilisis,
            | efficitur tortor sit amet, rutrum sapien.

h5 Body text - Small
    span &lt;/&gt;
pre.codesnippet
    small This line of text is meant to be treated as fine print.

h5 Body text - Bold
    span &lt;/&gt;
pre.codesnippet
    strong rendered as bold text.

h5 Body text - Italics
    span &lt;/&gt;
pre.codesnippet
    em rendered as italicized text.

h5 Emphasis text
    span &lt;/&gt;
pre.codesnippet
        span.emphasis 10 Jul 2016
