h1 Container
h4 List groups
//aside nav
.row
    .col-md-4.col-sm-12.col-xs-12
        aside.aside-wrap.aside-link
            button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#aside-link-1')
                | Normal list group
                i.icon-caret-down.pull-right
            ul#aside-link-1.list-unstyled.collapse.navbar-collapse.box-collapse
                li.active
                    a(href="javascript:void(0)") Item 1
                li
                    a(href="javascript:void(0)") Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        | Item 3

    .col-md-4.col-sm-12.col-xs-12
        //slick tabs
        .main-subnav
            .list-inline.main-subnav-tabs.slick-tabs
                div
                    a(href='javascript:void(0);')
                        span Item 1
                div
                    a(href='javascript:void(0);')
                        span Item 2
                div
                    a(href='javascript:void(0);')
                        span Item 3
                div
                    a(href='javascript:void(0);')
                        span Item 1
                div
                    a(href='javascript:void(0);')
                        span Item 2
                div
                    a(href='javascript:void(0);')
                        span Item 3


    .col-md-4.col-sm-12.col-xs-12
        aside.aside-wrap.aside-link
            button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#aside-link-2')
                | List group with count badge
                i.icon-caret-down.pull-right
            ul#aside-link-2.list-unstyled.collapse.navbar-collapse.box-collapse
                li.active
                    a(href="javascript:void(0)")
                        span.badge 10
                        | Item 1
                li
                    a(href="javascript:void(0)")
                        span.badge 21
                        | Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        span.badge 33
                        | Item 3
//panels
.row
    .col-md-4.col-sm-12.col-xs-12
        h4 Panels
        .panel.panel-default
            .panel-body Basic Panel

        .panel.panel-default
            .panel-heading Panel heading
            .panel-body Panel content

        .panel.panel-default
            .panel-body Panel content
            .panel-footer Panel footer

    .col-md-4.col-sm-12.col-xs-12
        h4 &nbsp;
        .panel.panel-warning
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

        .panel.panel-danger
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

        .panel.panel-success
            .panel-heading
                h3.panel-title Panel primary
            .panel-body Panel content

    .col-md-4.col-sm-12.col-xs-12
        h4 Wells
        .well Basic well

div &nbsp;
//codesnippet
h5 List group - Vertical
    span &lt;/&gt;
pre.codesnippet
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)") Item 1
                li
                    a(href="javascript:void(0)") Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        | Item 3

h5 List group - Horizontal
    span &lt;/&gt;
pre.codesnippet
    .main-subnav
        .list-inline.main-subnav-tabs.example-scroll-links
            div
                a(href='javascript:void(0);')
                    span Item 1
            div
                a(href='javascript:void(0);')
                    span Item 2
            div
                a(href='javascript:void(0);')
                    span Item 3
            div
                a(href='javascript:void(0);')
                    span Item 1
            div
                a(href='javascript:void(0);')
                    span Item 2
            div
                a(href='javascript:void(0);')
                    span Item 3

h5 List group - Horizontal javascript function
    span &lt;/&gt;
pre.codesnippet.text-center
    script(type='text/javascript').
        $('.example-scroll-links').slick({
        //setting-name: setting-value
        slidesToShow: 4,
        infinite: false,
        swipeToSlide: true,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            },
            {
                breakpoint: 667,
                settings: {
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 568,
                settings: {
                    slidesToShow: 2
                }
            }
        ]
        });
    // Plugin Reference link -> http://kenwheeler.github.io/slick/

h5 List group - Vertical with count badge
    span &lt;/&gt;
pre.codesnippet
        aside.aside-wrap.aside-link
            ul.list-unstyled
                li.active
                    a(href="javascript:void(0)")
                        span.badge 10
                        | Item 1
                li
                    a(href="javascript:void(0)")
                        span.badge 21
                        | Item 2
                li
                    a(href="javascript:void(0)")
                        i.icon-caret-right
                        span.badge 33
                        | Item 3

h5 Panel Basic
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-default
            .panel-body Basic Panel

h5 Panel with heading
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-default
            .panel-heading Panel heading
            .panel-body Panel content

h5 Panel with footer
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-default
            .panel-body Panel content
            .panel-footer Panel footer

h5 Panel with warning
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-warning
            .panel-heading
                h3.panel-title Panel warning
            .panel-body Panel content

h5 Panel with error
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-danger
            .panel-heading
                h3.panel-title Panel error
            .panel-body Panel content

h5 Panel with success
    span &lt;/&gt;
pre.codesnippet
        .panel.panel-success
            .panel-heading
                h3.panel-title Panel success
            .panel-body Panel content

h5 Basic well
    span &lt;/&gt;
pre.codesnippet
        .well Basic well