//tables
h1 Tables
table.table.table-striped
    thead
        tr
            th
                div.checkbox
                    label(for="checkbox1")
                        input(type="checkbox" id="checkbox1")
            th column heading
            th column heading
            th column heading
            th column heading
            th column heading
    tbody
        tr
            td
                div.checkbox
                    label(for="checkbox2")
                        input(type="checkbox" id="checkbox2")
            td column content
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    label(for="checkbox3")
                        input(type="checkbox" id="checkbox3")
            td column content
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    label(for="checkbox4")
                        input(type="checkbox" id="checkbox4")
            td column content
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    label(for="checkbox5")
                        input(type="checkbox" id="checkbox5")
            td column content
            td column content
            td column content
            td column content
            td column content
