//tables
h1 Tables
table.table.table-striped
    thead
        tr
            th
                div.checkbox.inverse
                    input(type="checkbox" name="optionsCheck1" id="Check5" value)
                    label(for="Check5")
            th column heading
            th column heading
            th column heading
            th column heading
            th column heading
    tbody
        tr
            td
                div.checkbox
                    input(type="checkbox" name="optionsCheck1" id="Check6" value)
                    label(for="Check6")
            td
                a(href="javascript:void(0);") column heading
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    input(type="checkbox" name="optionsCheck1" id="Check7" value)
                    label(for="Check7")
            td
                a(href="javascript:void(0);") column heading
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    input(type="checkbox" name="optionsCheck1" id="Check8" value)
                    label(for="Check8")
            td
                a(href="javascript:void(0);") column heading
            td column content
            td column content
            td column content
            td column content
        tr
            td
                div.checkbox
                    input(type="checkbox" name="optionsCheck1" id="Check9" value)
                    label(for="Check9")
            td
                a(href="javascript:void(0);") column heading
            td column content
            td column content
            td column content
            td column content
div &nbsp;
.row
    pre.codesnippet
        table.table.table-striped
            thead
                tr
                    th
                        div.checkbox.inverse
                            input(type="checkbox" name="optionsCheck1" id="Check5" value)
                            label(for="Check5")
                    th column heading
                    th column heading
                    th column heading
                    th column heading
                    th column heading
            tbody
                tr
                    td
                        div.checkbox
                            input(type="checkbox" name="optionsCheck1" id="Check6" value)
                            label(for="Check6")
                    td
                        a(href="javascript:void(0);") column heading
                    td column content
                    td column content
                    td column content
                    td column content
                tr
                    td
                        div.checkbox
                            input(type="checkbox" name="optionsCheck1" id="Check7" value)
                            label(for="Check7")
                    td
                        a(href="javascript:void(0);") column heading
                    td column content
                    td column content
                    td column content
                    td column content
                tr
                    td
                        div.checkbox
                            input(type="checkbox" name="optionsCheck1" id="Check8" value)
                            label(for="Check8")
                    td
                        a(href="javascript:void(0);") column heading
                    td column content
                    td column content
                    td column content
                    td column content
                tr
                    td
                        div.checkbox
                            input(type="checkbox" name="optionsCheck1" id="Check9" value)
                            label(for="Check9")
                    td
                        a(href="javascript:void(0);") column heading
                    td column content
                    td column content
                    td column content
                    td column content