header.undp-header
  .container
    a.box-logo.pull-left(href='/')
    .box-right.clearfix
      .pull-right.menu-right-xs
        block search
          include ./../inc/search.jade
        a.menubar.hidden-lg(href='javascript:void(0);',data-sidemenu)
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .pull-left.hidden-md.hidden-sm.hidden-xs.pos-top
        h3.wrap-heading United Nations Development Programme
        h2 Visual style guidelines
        block mainnav
          ul.list-main-nav
            li.active
              a(href="global-kitchen-page.html" target="_blank") Global
            li
              a(href="global-kitchen-country-page.html" target="_blank") UN Country Specific
      h3.wrap-heading.visible-md.visible-sm.visible-xs United Nations Development Programme