header.undp-header
  .container
    a.box-logo.pull-left(href='/')
    .box-right.clearfix
      .pull-right.menu-right-xs
        block search
          include ./../inc/search.jade
        a.menubar.hidden-lg(href='javascript:void(0);',data-sidemenu)
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .pull-left.hidden-md.hidden-sm.hidden-xs.pos-top
        block topnav
          include ./../inc/nav_top.jade
        h3.wrap-heading United Nations Development Programme
        block mainnav
          include ./../inc/nav_main
      h3.wrap-heading.visible-md.visible-sm.visible-xs United Nations Development Programme
