header.undp-header
  .container
    .clearfix
      a.box-logo.pull-left(href='/')
      .box-right.clearfix
        .pull-right.menu-right-xs
          //search box starts
          block search
            include ./../inc/search.jade
          //search box ends
          a.menubar.hidden-lg(href='javascript:void(0);')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .pull-left.hidden-md.hidden-sm.hidden-xs
          ul.list-inline.list-main-nav
            li
              a(href='javascript:void(0);')
                span UNDP around the world
                i.fa.fa-caret-down
            li
              a(href='javascript:void(0);') About us
            li
              a(href='javascript:void(0);') Publications
            li
              a(href='javascript:void(0);') News Center
            li.dropdown
              a#dropdownMenuFunding.dropdown-toggle(href='javascript:void(0);', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                span Funding
                i.fa.fa-caret-down.caret
              ul.dropdown-menu.dropdown-funding(aria-labelledby='dropdownMenuFunding')
                li
                  a(href='javascript:void(0);') Top contributors
                li
                  a(href='javascript:void(0);') Funding channels
                li
                  a(href='javascript:void(0);') Partners
          h3.wrap-heading United Nations Development Programme
          ul.list-inline.list-sub-nav
            li
              a(href='javascript:void(0);') Our Work
            li
              a(href='javascript:void(0);') Sustainable Development Goals
            li
              a(href='javascript:void(0);') Blog
        h3.wrap-heading.visible-md.visible-sm.visible-xs United Nations Development Programme
