//main navigation starts
ul.list-main-nav
  li(class= (page === "Our Work") ? "active" : "")
    a(href='our-work.html') Our Work
  li(class= (page === "Sustainable Development Goals") ? "active" : "")
    a(href='sustainable-development-goals.html') Sustainable Development Goals
  li(class= (page === "Blog") ? "active" : "")
    a(href='javascript:void(0);') Blog
//main navigation ends
