//main navigation starts
ul.list-main-nav
  li
    a(href='our-work.html') Our Work
  li
    a(href='javascript:void(0);') Sustainable Development Goals
  li
    a(href='javascript:void(0);') Blog
//main navigation ends
