//main navigation starts
ul.list-main-nav
  li.our-work
    a(href='our-work.html') Our Work
  li.development-goals
    a(href='javascript:void(0);') Sustainable Development Goals
  li.blog
    a(href='javascript:void(0);') Blog
//main navigation ends
