//top navigation starts
ul.list-top-nav
  li.dropdown-countries( data-pop, data-target='#contriesPop')
    a#MenuContries(href='javascript:void(0);')
      span UNDP around the world
      i.icon-caret
    block popups
      include ./../inc/pop_contries
  li
    a(href='javascript:void(0);') About us
  li
    a(href='javascript:void(0);') Publications
  li
    a(href='javascript:void(0);') News Center
  li.dropdown
    a#dropdownMenuFunding.dropdown-toggle(href='javascript:void(0);', type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
      span Funding
      i.icon-caret-down
    ul.dropdown-menu.dropdown-funding(aria-labelledby='dropdownMenuFunding')
      li
        a(href='javascript:void(0);') Top contributors
      li
        a(href='javascript:void(0);') Funding channels
      li
        a(href='javascript:void(0);') Partners
//top navigation ends
