#contriesPop.countries-wrap.hide.clearfix
  #top
  a.btn-close(href='javascript:void(0);',data-popupmenu) &times;
  p.wrap-heading
    | Many of UNDP's relationships with countries and territories on the ground exceed 60 years.
    br
    | Find details on our successes and ongoing work.
  .form-group.search-group.has-feedback.visible-xs.visible-sm
    label.sr-only(for='SearchCountry') Search Country
    input#SearchCountry.form-control(type='text', aria-describedby='inputSearch2', placeholder='Search')
    span.icon-search.form-control-feedback(aria-hidden='true')
    span#inputSearch2.sr-only (search)
  .row
    .col-countries
      ul.list-unstyled.list-countries
        li
          a(href='http://www.af.undp.org/') Afghanistan
        li
          a(href='http://www.al.undp.org  ') Albania
        li
          a(href='http://www.dz.undp.org/') Algeria
        li
          a(href='http://www.ao.undp.org/') Angola
        li
          a(href='http://www.undp.org.ar/') Argentina
        li
          a(href='http://www.am.undp.org') Armenia
        li
          a(href='http://www.az.undp.org') Azerbaijan
      ul.list-unstyled.list-countries
        li
          a(href='http://www.bh.undp.org') Bahrain
        li
          a(href='http://www.bd.undp.org/') Bangladesh
        li
          a(href='http://www.bb.undp.org/') Barbados
        li
          a(href='http://www.by.undp.org/') Belarus
        li
          a(href='http://www.bz.undp.org/') Belize
        li
          a(href='http://www.bj.undp.org/') Benin
        li
          a(href='http://www.bt.undp.org') Bhutan
        li
          a(href='http://www.bo.undp.org/') Bolivia
        li
          a(href='http://www.ba.undp.org') Bosnia and Herzegovina
        li
          a(href='http://www.bw.undp.org ') Botswana
        li
          a(href='http://www.pnud.org.br/home/') Brazil
        li
          a(href='http://www.bf.undp.org') Burkina Faso
        li
          a(href='http://www.bi.undp.org/') Burundi
      ul.list-unstyled.list-countries
        li
          a(href='http://www.kh.undp.org') Cambodia
        li
          a(href='http://www.cm.undp.org/') Cameroon
        li
          a(href='http://www.un.cv/') Cape Verde
        li
          a(href='http://www.cf.undp.org/') Central African Republic
        li
          a(href='http://www.td.undp.org/') Chad
        li
          a(href='http://www.cl.undp.org') Chile
        li
          a(href='http://www.cn.undp.org') China
        li
          a(href='http://www.co.undp.org') Colombia
        li
          a(href='http://www.km.undp.org/') Comoros
        li
          a(href='http://www.cd.undp.org') Congo (Dem. Republic of)
        li
          a(href='http://www.cg.undp.org/') Congo (Republic of)
        li
          a(href='http://www.cr.undp.org/') Costa Rica
        li
          a(href='http://www.ci.undp.org/') Côte d'Ivoire
        li
          a(href='http://www.hr.undp.org/') Croatia
        li
          a(href='http://www.cu.undp.org/') Cuba
        li
          a(href='http://www.cy.undp.org') Cyprus
    .col-countries
      ul.list-unstyled.list-countries
        li.txt-lg
          a(href='http://www.kp.undp.org') Democratic People's Republic of Korea
        li
          a(href=' http://www.dk.undp.org/') Denmark (Rep. Office)
        li
          a(href='http://www.dj.undp.org/') Djibouti
        li
          a(href='http://www.do.undp.org/') Dominican Republic
      ul.list-unstyled.list-countries
        li
          a(href='http://www.undp.org/content/brussels/en/home.html') E.U (Rep. Office)
        li
          a(href='http://www.ec.undp.org/') Ecuador
        li
          a(href='http://www.eg.undp.org/') Egypt
        li
          a(href='http://www.sv.undp.org/') El Salvador
        li
          a(href='http://www.gq.undp.org') Equatorial Guinea
        li
          a(href='http://www.er.undp.org/') Eritrea
        li
          a(href='http://www.et.undp.org/') Ethiopia
      ul.list-unstyled.list-countries
        li
          a(href='http://www.fi.undp.org') Finland (Rep. Office)
        li
          a(href='') Fiji (Multi-country Office)
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ga.undp.org') Gabon
        li
          a(href='http://www.gm.undp.org/') Gambia
        li
          a(href='http://europe.undp.org/') Geneva (Rep. Office)
        li
          a(href='http://www.ge.undp.org') Georgia
        li
          a(href='http://www.gh.undp.org') Ghana
        li
          a(href='http://www.gt.undp.org/') Guatemala
        li
          a(href='http://www.gn.undp.org/') Guinea
        li
          a(href='http://www.gw.undp.org/') Guinea-Bissau
        li
          a(href='http://www.gy.undp.org/') Guyana
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ht.undp.org/') Haiti
        li
          a(href='http://www.hn.undp.org') Honduras
      ul.list-unstyled.list-countries
        li
          a(href='http://www.in.undp.org') India
        li
          a(href='http://www.id.undp.org') Indonesia
        li
          a(href='http://www.ir.undp.org') Iran
        li
          a(href='http://www.iq.undp.org') Iraq (Republic of)
      ul.list-unstyled.list-countries
        li
          a(href='http://www.jm.undp.org/') Jamaica
        li
          a(href='http://www.jo.undp.org/') Jordan
    .col-countries
      ul.list-unstyled.list-countries
        li
          a(href='http://www.kz.undp.org/') Kazakhstan
        li
          a(href='http://www.ke.undp.org/') Kenya
        li.txt-lg
          a(href='http://www.ks.undp.org') Kosovo (as per UNSCR 1244)
        li
          a(href='http://www.kw.undp.org') Kuwait
        li
          a(href='http://www.kg.undp.org') Kyrgyzstan
      ul.list-unstyled.list-countries
        li
          a(href='http://www.la.undp.org') Lao PDR
        li
          a(href='http://www.lb.undp.org') Lebanon
        li
          a(href='http://www.ls.undp.org') Lesotho
        li
          a(href='http://www.lr.undp.org/') Liberia
        li
          a(href='http://www.ly.undp.org') Libya
      ul.list-unstyled.list-countries
        li
          a(href='http://www.mg.undp.org') Madagascar
        li
          a(href='http://www.mw.undp.org') Malawi
        li
          a(href='http://www.my.undp.org/') Malaysia
        li
          a(href='http://www.mv.undp.org') Maldives
        li
          a(href='http://www.ml.undp.org') Mali
        li
          a(href='http://www.mr.undp.org/') Mauritania
        li
          a(href='http://www.mu.undp.org/') Mauritius & Seychelles
        li
          a(href='http://www.mx.undp.org/') Mexico
        li
          a(href='http://www.md.undp.org') Moldova
        li
          a(href='http://www.mn.undp.org') Mongolia
        li
          a(href='http://www.me.undp.org/') Montenegro
        li
          a(href='http://www.ma.undp.org/') Morocco
        li
          a(href='http://www.mz.undp.org') Mozambique
        li
          a(href='http://www.mm.undp.org/') Myanmar
      ul.list-unstyled.list-countries
        li
          a(href='http://www.na.undp.org') Namibia
        li
          a(href='http://www.np.undp.org') Nepal
        li
          a(href='http://www.ni.undp.org') Nicaragua
        li
          a(href='http://www.ne.undp.org') Niger
        li
          a(href='http://www.ng.undp.org/') Nigeria
        li
          a(href='http://www.no.undp.org') Norway (Rep. Office)
    .col-countries
      ul.list-unstyled.list-countries
        li
          a(href='http://www.pacific.undp.org') Pacific Office
        li
          a(href='http://www.pk.undp.org/') Pakistan
        li
          a(href='http://www.pa.undp.org/') Panama
        li
          a(href='http://www.pg.undp.org') Papua New Guinea
        li
          a(href='http://www.py.undp.org') Paraguay
        li
          a(href='http://www.pe.undp.org') Peru
        li
          a(href='http://www.ph.undp.org') Philippines
        li
          a(href='http://www.ps.undp.org') Programme of Assistance to the Palestinian People
      ul.list-unstyled.list-countries
        li
          a(href='http://www.undp.ru/') Russian Federation
        li
          a(href='http://www.rw.undp.org/') Rwanda
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ws.undp.org/') Samoa (Multi-country Office)
        li
          a(href='http://www.st.undp.org/') São Tomé and Principe
        li
          a(href='http://www.sa.undp.org/') Saudi Arabia
        li
          a(href='http://www.sn.undp.org/') Senegal
        li
          a(href='http://www.rs.undp.org') Serbia
        li
          a(href='http://www.sl.undp.org/') Sierra Leone
        li
          a(href='http://www.so.undp.org/') Somalia
        li
          a(href='http://www.za.undp.org/') South Africa
        li
          a(href='http://www.ss.undp.org/') South Sudan
        li
          a(href='http://www.lk.undp.org/') Sri Lanka
        li
          a(href='http://www.sd.undp.org/') Sudan
        li
          a(href='http://www.sr.undp.org/') Suriname
        li
          a(href='http://www.sz.undp.org/') Swaziland
        li
          a(href='http://www.se.undp.org') Sweden (Rep. Office)
        li
          a(href='http://www.sy.undp.org/') Syria
      ul.list-unstyled.list-countries
        li
          a(href='http://www.tj.undp.org/') Tajikistan
        li
          a(href='http://www.tz.undp.org/') Tanzania
        li
          a(href='http://www.th.undp.org/') Thailand
        li.txt-lg
          a(href='http://www.mk.undp.org') The former Yugoslav Republic of Macedonia
        li
          a(href='http://www.tl.undp.org/') Timor-Leste
        li
          a(href='http://www.tg.undp.org/') Togo
        li
          a(href='http://www.jp.undp.org') Tokyo (Rep. Office)
    .col-countries
      ul.list-unstyled.list-countries
        li
          a(href='http://www.tt.undp.org') Trinidad and Tobago
        li
          a(href='http://www.tn.undp.org/') Tunisia
        li
          a(href='http://www.tr.undp.org/') Turkey
        li
          a(href='http://www.tm.undp.org/') Turkmenistan
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ug.undp.org/') Uganda
        li
          a(href='http://www.ua.undp.org') Ukraine
        li
          a(href='http://www.ae.undp.org') United Arab Emirates
        li
          a(href='http://www.uy.undp.org/') Uruguay
        li
          a(href='http://www.uz.undp.org/') Uzbekistan
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ve.undp.org/') Venezuela
        li
          a(href='http://www.vn.undp.org/') Viet Nam
      ul.list-unstyled.list-countries
        li
          a(href='http://www.us.undp.org/') Washington (Rep. Office)
      ul.list-unstyled.list-countries
        li
          a(href='http://www.ye.undp.org/') Yemen
      ul.list-unstyled.list-countries
        li
          a(href='http://www.zm.undp.org/') Zambia
        li
          a(href='http://www.zw.undp.org/') Zimbabwe
      ul.list-unstyled.list-countries
        li
          span Regional Presence
        li
          a(href='http://www.africa.undp.org') Africa
        li
          a(href='http://arabstates.undp.org') Arab States
        li
          a(href='http://asia-pacific.undp.org/') Asia and the Pacific
        li
          a(href='http://www.eurasia.undp.org') Europe and Central Asia
        li
          a(href='http://www.latinamerica.undp.org') Latin America and the Caribbean
      ul.list-unstyled.list-countries.bt-border
        li
          span Global Policy Centres
        li
          a(href='http://www.iicpsd.undp.org') Istanbul
        li
          a(href='http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/sustainable_landmanagement/') Nairobi
        li
          a(href='http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/oslo_governance_centre/') Oslo
        li
          a(href='http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/world-centre-for-sustainable-development---rio--centre/') Rio de Janeiro
        li
          a(href='http://www.undp.org/content/seoul_policy_center/en/home.html') Seoul
        li
          a(href='http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/publicservice/') Singapore
  a.btn-top.icon-caret-up(href='#top')
