//search box starts
.box-search
  ul.list-inline.list-language
    li
      a(href='javascript:void(0);') BHS
    li.active
      a(href='javascript:void(0);') English
  form
    .input-group.search-group
      input.form-control(type='text', placeholder='Search')
      span.input-group-btn
        button.icon-search.btn.btn-search(type='submit')
  a(href='javascript:void(0);')
    img.header-small-img(src='images/Flag_of_Bosnia_and_Herzegovina.svg', alt='Country Flag')
//search box ends
