.off-canvas#slide-menu
  div.canvas-header
    a.btn-close(href='javascript:void(0);',data-sidemenu) &times;
    block search
      include ./../inc/search.jade
    h4 United Nations Development Programme
    h4.for-country United Nations in Bosnia and Herzegovina
  div.canvas-scroll
    block mainnav
      include ./../inc/nav_main.jade
    block topnav
      include ./../inc/nav_top.jade
