//Work Dropdown Starts
ul.list-unstyled
  li
    a(href='javascript:void(0);') Overview
  li
    a(href='javascript:void(0);') Gender equality
  li
    a(href='javascript:void(0);') Crisis response
  li
    a(href='javascript:void(0);') Development impact
  li
    a(href='javascript:void(0);')
      i.icon-caret-right
      | Global Policy Centers
  li.active
    a(href='javascript:void(0);') Our Stories
  li
    a(href='javascript:void(0);')
      i.icon-caret-right
      | Funding
  li
    a(href='javascript:void(0);') Our Projects
  li
    a(href='javascript:void(0);') News
  li
    a(href='javascript:void(0);') Our Mission
  li
    a(href='javascript:void(0);')
      i.icon-caret-right
      | Our Leadership
  li
    a(href='javascript:void(0);') Transparency & Accountability
  li
    a(href='javascript:void(0);') Our Research & Publications
  li
    a(href='javascript:void(0);')
      i.icon-caret-right
      | Our Goodwill Ambassadors
  li
    a(href='javascript:void(0);')
      i.icon-caret-right
      | Get involved
//Work Dropdown Ends
