.undp-country {
  //margin-bottom: 146px;

  //.undp-footer {
  //  position: absolute;
  //}
}

.latest-box {
  .anniversary-box {
    margin-bottom: 20px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .response-box {
    margin-bottom: 20px;
    img {
      margin-bottom: 15px;
    }
  }
  .donors-wrap {
    margin-bottom: 20px;
  }
  .joint-projects {
    a {
      display: block;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
        height: 76px;
      }
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .smart-energy-wrap {
    h4 {
      font-size: 17px;
      font-weight: bold;
      color: #444444;
      margin: 15px 0 12px;
    }
    @media (max-width: $screen-sm-max) {
      padding-top: 20px;
      //padding-bottom:20px;
    }
  }
}

.speakers-corner-box {

  .phase-map {
    display: inline-block;
    margin-bottom: 20px;

    b {
      display: block;
      padding-top: 6px;
    }
  }
  @media (max-width: $screen-sm-max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.content-wrap.view-list-wrap {

  .list-content-wrap:hover .overlay-wrap {
    display: block;
  }
  .list-content-wrap {
    position: relative;
  }
  .overlay-wrap {
    background-color: #292929;
    padding: 28px 15px;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    a {
      font-size: 17px;
      margin: 0 0 15px;
      color: #66c2ff;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
      display: block;
    }
    p {
      color: #b4b4b4;
    }
  }
  .col-sm-4, .col-xs-12, .col-sm-8 {
    margin-bottom: 20px;
  }

  .img-wrap {

    img {
      width: 100%;
    }
  }

  .text-wrap.sml {
    height: 70px;
    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      height: 92px;
    }

    @media (max-width: $screen-xs-max) {
      height: auto;
    }
  }

  .text-wrap {
    height: 130px;
    background-color: #002245;
    position: relative;
    padding: 15px 15px 20px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
      height: 140px;
    }

    P {
      color: #FFFFFF;
      margin-bottom: 0;
    }

    .default-link {
      color: #66c2ff;
      position: absolute;
      right: 15px;
      bottom: 5px;
      z-index: 1;
    }
  }
}

.undp-header {
  .box-right {
    .country-heading {
      color: #FFFFFF;
      margin: -9px 0 13px;
      font-weight: normal;

      small {
        color: #FFFFFF;
        font-size: 13px;
      }
      .header-small-img {
        /*width: 72px;*/
        height: 28px;
        display: inline-block;
        margin-left: 5px;
        margin-top: -9px;
      }
      span {
        font-weight: bold;
        font-size: 25px;
        display: inline-block;
        margin-left: 10px;

        /* For landscape layouts only */
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
          display: inline-block;
          margin: 0;
          padding-top: 5px;
        }

      }

      &.mobile {
        @media (max-width: $screen-md-max) {
          position: relative;
          margin: 38px 0;
          float: left;
          padding-left: 25px;
        }
        @media (max-width: $screen-sm-max) {
          margin-top: 25px;
          margin-bottom: 0;
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 15px;
          width: 85%;
        }
        @media (max-width: $screen-xs-min) {
          margin-top: 5px;
        }
        small {
          @media (max-width: $screen-md-max) {
            display: block;
          }
        }
        small.one {
          @media (max-width: $screen-md-max) {
            display: none;
          }
          @media (max-width: $screen-sm-max) {
            display: block;
          }
        }
        small.two {
          @media (max-width: $screen-md-max) {
            display: block;
          }
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
        span {
          @media (max-width: $screen-md-max) {
            margin-left: 0;
          }
          @media (max-width: $screen-sm-max) {
            display: block;
            font-size: 20px;
            margin-bottom: 5px;
            padding-top: 5px;
          }
          @media (max-width: $screen-xs-max) {
            font-size: 16px;
            margin-bottom: 0;
            padding-top: 3px;
          }
        }
        a {
          @media (max-width: $screen-sm-max) {
            display: block;
            img {
              margin: 0;
            }
          }
        }
        .header-small-img {
          @media (max-width: $screen-sm-max) {
            height: 23px;
          }
        }
      }
    }
  }
}

.padding-none {
  padding: 0 !important;
}

@media (max-width: $screen-md-max) {

}

@media (max-width: 767px) {
  .info-wrap.work-wrap {
    padding: 25px 0 0 !important;
  }
  .info-wrap.goal-wrap {
    padding: 30px 0 !important;
  }
}

.footer-country-wrap {
  background: transparent url("../images/country-map.png") no-repeat center;
  @media (max-width: $screen-md-max) {
    background-size: contain;
  }
  &:before {
    display: none;
  }
  .stats-country {
    list-style-type: none;
    padding: 0;
    height: 185px;
    margin: 0;
    @media (max-width: $screen-xs-max) {
      width: 280px;
      margin: 0 auto;
    }
    li {
      height: 50px;
      margin-bottom: 20px;
      width: 93px;
      float: left;
      .header-small-img {
        width: 72px;
        height: 36px;
        display: inline-block;
      }
    }
    span {
      display: block;
      text-align: center;
    }
    .title {
      font-size: 11px;
      color: #888;
    }
    .amount {
      font-size: 20px;
      color: #555;
      font-weight: bold;
      line-height: 100%;
    }
    .val {
      font-size: 11px;
      font-weight: bold;
      color: #888;
    }
  }
}

.undp-footer {
  .list-social-nav {
    margin: 20px 0;
    li {
      float: left;
      color: #666666;
      a {
        margin-left: 10px;
      }
    }
  }
  .turn-high {
    color: #66c2ff;
    display: inline-block;
    margin-left: 15px;
  }
}

.undp-header.country-header {
  background: #5a90da;
  .box-logo {
    background-image: url("../images/un-logo.jpg");
    background-repeat: no-repeat;
    width: 115px;
    height: 95px;
    margin-top: 15px;
    background-size: cover;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
  //.menubar {
  //  .icon-bar {
  //    background-color: #5a90da;
  //  }
  //}
  .box-right {
    margin-left: 150px;
    @media (max-width: $screen-xs-max) and (orientation: portrait) {
      margin-left: 100px;
    }
  }
  .list-language {
    text-align: left;
    margin: 0 -8px 10px;
    li.active {
      a,a:hover,a:focus,a:active {
        color: #666;
      }
    }
    li {
      a {
        color: #0b387c;
        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }
  .country-heading {
    font-size: 32px;
    margin: 0 0 5px;
    span {
      display: inline-block;
      margin-right: 10px;
      margin-left: 0;
      font-size: 32px;
      font-weight: normal;
      @media (max-width: $screen-sm-max) {
        font-size: 26px;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 16px;
        display: block;
      }
    }
    @media (max-width: $screen-md-max) {
      padding: 30px 0 0;
    }
    @media (max-width: $screen-sm-max) {
      font-size: 26px;
    }
    @media (max-width: $screen-xs-max) and (orientation: portrait) {
      font-size: 22px;
      padding-top: 24px;
    }
    @media (max-width: $screen-xs-max) and (orientation: landscape) {
      padding-top: 36px;
    }
  }

  .pos-top {
    .list-main-nav {
      > li {
        border: none;
        padding: 0;
        margin: 0 5px -1px;
        a {
          color: #0b387c;
          padding: 5px 5px;
          display: inline-block;
          &:hover {
            background-color: #76a3e1;
            color: #fff;
          }
        }
      }
    }
  }
  .box-search {
    padding-top: 20px;
    text-align: center;
    a {
      display: inline-block;
      text-align: center;
    }
    @media (max-width: $screen-md-max) {
      text-align: center;
    }
  }
}

.box-search {
  .header-small-img {
    width: 102px;
  }
}

.content-wrap.country-page-wrap {
  p {
    font-size: 13px;
  }
  .big-img-wrap {
    margin-bottom: 44px;
    span, a {
      display: block;
    }
    span {
      font-size: 13px;
      margin-bottom: 15px;
    }
    a {
      margin: 12px 0 12px;
      font-size: 12px;
    }
  }
  .news-list-wrap {
    h1 {
      margin: 0 0 15px;
      font-size: 24px;
      font-family: Arial;
      font-weight: bold;
    }
    .news-wrap {
      margin-bottom: 25px;
      a {
        display: block;
        &:hover {
          text-decoration: underline;
        }
      }
      img {
        margin-bottom: 11px;
      }
      .text-content {
        display: block;
        font-family: Arial;
        font-weight: bold;
        margin: 0 0 11px;
        font-size: 16px;
        line-height: 22px;
        color: #5a90da;
      }
      h2 {
        font-family: Arial;
        font-weight: bold;
        margin: 0 0 11px;
        font-size: 16px;
        line-height: 22px;
        color: #5a90da;
      }
      p {
        color: #333333;
      }
      .date {
        color: grey;
        display: block;
        font-size: 11px;
        margin-top: -10px;
        text-transform: uppercase;
        font-weight: bold;
      }

    }
    .nav-pagination {
      .pagination.undp-pagination {
        li.active {
          a {
            color: #0055aa;
          }
        }
        li {
          a {
            /*color: #999999;*/
            &:hover, &:focus {
              color: #0055aa;
            }
          }
        }
      }
    }
  }
}

.country-footer {
  min-height: 100px;
  .list-footer-nav {
    margin: 0;
    li {
      color: #666666;
      border-left: 1px solid #666666;
      line-height: 12px;
      font-size: 11px;
      margin: 0;
      &:first-child {
        border-left: none;
        padding-left: 0;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 10px;
        padding: 0 3px;
      }
      a {
        color: #66c2ff;
        font-size: 11px;
        > span {
          color: #666666 !important;
          display: inline-block;
          margin-right: 5px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: $screen-sm-max) {
  .perspective-box {
    .media-perspective {
      margin: 15px 0 15px;
    }
  }
}

.sponsors-wrap {
  //background-color: #f2faff;
  padding: 20px 0;
  .sponsors-list {
    //height: 210px;
    img {
      //height: 100%;
      width: 100%;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    text-align: center;
    li {
      padding: 0 10px;
      margin: 0;
      display: inline-block;
      @media (max-width: $screen-xs-max) {
        display: block;
      }
    }
  }
}

.country-off-canvas {

  .canvas-header {
    height: 220px;

    .country-heading {
      font-size: 13px;
      color: #BBBBBB;

      span {
        display: inline-block;
        font-size: 18px;
        padding-top: 8px;
      }

      a {
        display: inline-block;
        padding-left: 10px;

        img {
          width: 70px;
        }
      }
    }
  }

  .canvas-scroll {

    .list-main-nav {
      border-top: 1px solid #21537f;
    }
  }
}

.flex-row-wrap {
  @include flexbox();
  display: -webkit-box;
  display: -ms-flexbox;
  @include flex-direction(row);
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  @include flex-wrap(wrap);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.country-main-content {
  .news-list-wrap {
    a {
      color: #5a90da !important;
    }
  }
  .news-wrap {
    > img, a {
      margin-bottom: 11px;
    }
    a {
      &:hover {
        cursor: pointer;
        text-decoration: underline !important;
      }
    }
  }
}

.country-hm-main-content {
  .aside-wrap {
    a:hover,a:focus,a:active {
      color: #0055aa;
    }
  }
  .view-list-wrap {
    .text-wrap {
        a:first-child {
          //font-size: 17px;
          //margin: 0 0 15px;
          color: #fff;
          //font-weight: bold;
          //cursor: pointer;
          //margin-bottom: 10px;
          //display: block;
        }
        @media (max-width: $screen-md-max) {
          display: none;
        }

      //@media (max-width: $screen-md-max) {
      //  background-color: #fff;
      //  height: auto;
      //  padding: 10px 0;
      //  color: #333;
      //}
      a.default-link {
        @media (max-width: $screen-md-max) {
          color: #0055aa;
          position: relative;
          right: 0;
          bottom: 0;
          display: block;
          text-align: right;
          margin-top: 10px;
        }
      }
      P {
        @media (max-width: $screen-md-max) {
          color: #333;
        }
      }
    }
    .overlay-wrap {
      .default-link {
        display: none;
        @media (max-width: $screen-md-max) {
          font-size: 14px;
          display: block;
          font-weight: normal;
        }
      }
      @media (max-width: $screen-md-max) {
        position: relative;
        display: block;
        background-color: #fff;
        padding: 0;
        padding-top: 10px;
      }
      a {
        @media (max-width: $screen-md-max) {
          color: #0055aa;
        }
      }
      p {
        @media (max-width: $screen-md-max) {
          color: #333;
        }
      }
    }
  }
}

h4.for-country {
  display: none;
}
.country-pg {
  .menu-right-xs {
      .list-language {
        display: none;
      }
    }
  .canvas-header {
    height: auto;
  }
  .country-footer {
    background-color: #5a90da;
    .list-footer-nav {
      li {
        color: #333;
      }
      a {
        color: #0b387c;
        &:hover,a:active,a:focus {
          color: #fff;
        }
        span {
          color: #333 !important;
        }
      }
    }
  }
  .off-canvas#slide-menu {
    background-color: #5a90da;
    color: #fff;
    a, h4 {
      color: #fff !important;
    }
    h4 {
      display: none;
    }
    .for-country {
      display: block;
      color: #BBBBBB!important;
      border-bottom-color: #666;
    }
    .list-language {
      li {
        a {
          color: #0b387c!important;
          &:hover {
            color: #fff!important;
          }
        }
      }
      li.active {
        a {
          color: #666 !important;
        }
      }
    }
    .funding-popup {
      background-color: transparent;
      list-style: none;
    }
    .btn-close {
      color: #0b387c!important;
    }
    #contriesPop {
      .btn-close {
        color: #fff!important;
      }
    }
    .list-top-nav {
      display: none;
    }
    .list-main-nav {
      border-bottom: none;
      li {
        a {
          color: #0b387c!important;
        }
        &.active a, a:active, a:focus {
          background-image: none;
          background-color: #76a3e1;
          color: #fff!important;
        }
      }
    }
  }
}

.undp-header.country-header {
  .box-logo {
    @media (max-width: $screen-xs-max) and (orientation: portrait) {
      width: 90px;
      height: 76px;
    }
  }
  .icon-bar {
    background-color: #0b387c;
  }
  .box-right {
    @media (max-width: $screen-xs-max) and (orientation: portrait) {
      height: 100%;
      position: relative;
    }

    .menu-right-xs {
      @media (max-width: $screen-xs-max) and (orientation: landscape) {
        top: 58%;
        transform: none;
      }
      @media (max-width: $screen-xs-max) and (orientation: portrait) {
        top: 40%;
        transform: none;
      }
      .menubar {
        @media (max-width: $screen-xs-max) and (orientation: portrait) {
          //bottom: 15px;
        }

      }
    }

  }
}