html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: 155px;
  }

  // Mobile only
  @media (max-width: $screen-xs-max){
    margin-bottom: 200px;
  }

  &.undp{
    background-color: $clr-blue;
  }

  &.undp-work{
    background-color: $clr-white;
  }
}

// row col equal height

.row-eq-height {
  @include flexbox();

  // Mobile only
  @media (max-width: $screen-xs-max){
    display: block;
  }
}

// Select Tag

.select-box{
  position: relative;

  .icon-caret-down{
    position: absolute;
    top: 0;
    right: 12px;
    z-index: 0;
    line-height: 34px;
  }
}

.select-control{
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  @include box-shadow(none);
  z-index: 1;
  background-color: transparent;
}

.undp-header{
  min-height: 124px;
  border-bottom: 1px solid rgba(38, 95, 145, 0.5);
  background: transparent url("../images/bg-header.png") no-repeat top center;
  background-size: cover;

  // Mobile only
  @media (max-width: $screen-xs-max){
    min-height: 88px;
    background: #043264;
  }

  .box-logo{
    width: 130px;
    height: 112px;
    @include background-image-retina('../images/logo-undp', png, 130px, 112px);
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;

    // Mobile only
    @media (max-width: $screen-xs-max){
      width: 92px;
      height: 80px;
      background-size: 92px 80px;
    }
  }

  .box-right{
    position: relative;
    margin-left: 186px;

    @media (max-width: $screen-md-max){
      margin-left: 140px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-left: 150px;
    }

    // Mobile only
    @media (max-width: $screen-xs-max){
      margin-left: 102px;
      height: 88px;
    }

    .wrap-heading{
      font-size: 13px;
      color: $clr-white;
      margin: 0 0 20px;
      font-weight: normal;

      @media (max-width: $screen-md-max){
        position: relative;
        top: 52px;
        margin: 0;
        font-size: 16px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        top: 40px;
        width: 200px;
        line-height: 22px;
      }

      // Mobile only
      @media (max-width: $screen-xs-max){
        margin-bottom: 0;
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0%, -50%);
        font-size: 13px;
        width: 160px;
        line-height: 18px;
      }
    }

    .menu-right-xs{

      @media (max-width: $screen-xs-max){
        position: absolute;
        top: 50%;
        @include translate(0%, -50%);
        right: 0;
      }

      .box-search{

        @media (max-width: $screen-xs-max){
          display: none !important;
        }
      }
    }
  }
  > .container{
    position: relative;
  }
}

.countries-wrap{
  position: absolute;
  min-width: 1054px;
  background-color: $clr-dark-blue;
  padding: 18px 23px 0;
  @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.45));
  z-index: 10000;
  margin-top: 0;
  top: 32px;
  right: 0;

  @media (max-width: $screen-md-max){
    position: fixed;
    min-width: 100%;
    top: 0;
    bottom: 0;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y:scroll;
  }

  @media (max-width: $screen-xs-max){
    padding: 15px;
  }

  .popup-heading{
    font-size: 13px;
    color: $clr-gray1;
    margin-bottom: 5px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin-bottom: 14px;
    }

    @media (max-width: $screen-xs-max){
      margin-bottom: 10px;
      padding-right: 20px;
    }
  }

  .countries-popup{
    @include flexbox();
    @include flex-direction(column);
    @include flex-wrap(wrap);
    height: 850px;
    margin: 0 -10px;
    @include flex(1 100%);

    @media (max-width: $screen-md-max){
      min-height: 1600px;
    }

    @media (max-width: $screen-xs-max){
      min-height: 2960px;
    }

    &.no-border{
      border-bottom: none;
    }
  }

  .list-countries{
    width: 185px;
    margin: 0 10px;
    padding: 5px 0;
    border-bottom: 1px solid $clr-blue2;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      width: 165px;
    }

    @media (max-width: $screen-xs-max){
      width: 135px;
    }

    &:last-child{
      border-bottom: none;
    }

    > li{

      > a{
        color: $clr-white;
        font-size: 12px;
        line-height: 22px;
        display: inline-block;

        @media (max-width: $screen-md-max){
          line-height: 14px;
          padding: 10px 0;
        }

        &:hover, &:focus{
          color: $clr-white;
          text-decoration: underline;
        }
      }

      span{
        font-size: 11px;
        line-height: 22px;
        color: $clr-gray1;
      }

      &.txt-lg{

        a{
          line-height: 16px;
        }
      }
    }

    &.bt-border{
      border-bottom: 1px solid $clr-blue2 !important;
    }
  }

  .btn-close{
    display: none;

    @media (max-width: $screen-md-max){
      position: absolute;
      top: 12px;
      right: 10px;
      font-size: 36px;
      line-height: 20px;
      color: $clr-blue3;
      display: block;

      &:hover, &:focus{
        text-decoration: none;
        outline: none;
      }
    }
  }

  .search-group{
    margin-bottom: 7px;

    .form-control{
      @include border-radius(0);
      @include box-shadow(none);
      border-color: transparent;
      font-size: 17px;
      color: $clr-gray;
    }

    // placeholder scss

    .form-control::-webkit-input-placeholder {
      font-style: italic;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      font-style: italic;
    }

    .form-control::-moz-placeholder {  /* Firefox 19+ */
      font-style: italic;
    }

    .form-control:-ms-input-placeholder {
      font-style: italic;
    }

    .form-control-feedback{
      color: #999;
      font-size: 22px;
    }
  }

  .btn-top{
    display: none;

    @media (max-width: $screen-md-max){
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: $clr-blue2;
      color: $clr-white;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      z-index: 1;
      text-decoration: none;
      position: absolute;
      right: 20px;
    }
  }
}

.funding-popup{
  position: absolute;
  background-color: $clr-dark-blue;
  border: none;
  left: 10px;
  top: 26px;
  padding: 5px 0;
  min-width: 152px;
  @include border-radius(0);
  z-index: 10000;

  @media (max-width: $screen-md-max){
    top: 44px;
    padding: 0;
  }

  /* For landscape layouts only */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    left: 30px;
    padding: 10px 0;
  }

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    left: 30px;
    padding: 10px 0;
  }

  @media (max-width: $screen-xs-max){
    left: 30px;
    padding: 10px 0;
  }

  > li{
    margin: 0;

    > a{
      font-size: 12px;
      line-height: 24px;
      padding: 0 15px;
      color: $clr-white;
      display: block;

      &:hover, &:focus{
        background-color: transparent;
        color: $clr-white;
      }

      /* For landscape layouts only */
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        line-height: 14px;
        padding: 10px 0;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        line-height: 14px;
        padding: 10px 0;
      }

      @media (max-width: $screen-xs-max){
        line-height: 14px;
        padding: 10px 0;
      }
    }
  }
}

.box-search{
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 218px;

  .search-group{
    margin-bottom: 16px;

    .form-control{
      @include border-radius(0);
      border: none;
      height: 26px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 30px;
    }

    .btn-search{
      height: 26px;
      padding: 0 6px;
      background-color: $clr-white;
      @include border-radius(0);
      font-size: 18px;
      line-height: 24px;
      color: #999999;
      outline: none;
      @include box-shadow(none);
    }

    // placeholder scss

    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control::-moz-placeholder {  /* Firefox 19+ */
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control:-ms-input-placeholder {
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }
  }
}

.pos-top .list-top-nav{
  padding-top: 4px;
  margin: 0 -10px 18px;
  padding-left: 0;
  list-style: none;

  > li{
    padding: 4px 10px;
    display: inline-block;

    > a{
      font-size: 11.5px;
      color: $clr-light-blue;

      &:hover, &:focus{
        color: $clr-white;
        text-decoration: none;
      }

      i{
        vertical-align: middle;
        padding-left: 5px;
      }
    }

    &.dropdown-funding{
      position: relative;
    }
  }
}

.pos-top .list-main-nav{
  margin: 0 -10px;
  padding-left: 0;
  list-style: none;

  > li{
    display: inline-block;
    padding: 8px 0 6px;
    margin: 0 10px -1px;
    border-top: 1px solid $clr-blue1;

    a{
      font-size: 17px;
      color: $clr-light-blue;
      font-weight: bold;

      &:hover, &:focus{
        color: $clr-white;
        text-decoration: none;
      }
    }

    &.active{
      border-top: 3px solid #6690aa;
      padding: 8px 10px 6px;
      margin: 0 -2px -1px;
      /* Background Gradient */
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #edf6fe 0%, #ffffff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #edf6fe 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #edf6fe 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6fe', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

      a{
        color: $clr-gray3;
      }
    }
  }
}

.list-language{
  padding-top: 8px;
  margin: 0 -8px 16px;
  text-align: center;

  > li{
    position: relative;
    padding: 0 8px;

    a{
      font-size: 11px;
      color: $clr-light-blue;
    }

    &.active{

      a{
        cursor: default;
        color: $clr-gray;
        text-decoration: none;
      }
    }

    &:before{
      content: '';
      position: absolute;
      right: -2px;
      width: 1px;
      top: 7px;
      bottom: 4px;
      background-color: $clr-blue1;
    }

    &:last-child{

      &:before{
        display: none;
      }
    }
  }
}

.list-social-nav{
  text-align: center;
  margin: 0 -5px;

  > li{

    .icon-box{
      display: block;
      width: 25px;
      height: 25px;
      background-color: $clr-blue1;
      line-height: 25px;
      color: $clr-white;
      @include opacity(0.6);

      svg{
        fill: $clr-white;
      }

      &:hover, &:focus{
        @include opacity(1);
      }

      &.facebook{
        background-color: rgb(59, 89, 152);
      }

      &.twitter{
        background-color: rgb(29, 161, 242);
      }

      &.linkedin{
        background-color: rgb(0, 119, 181);
      }

      &.youtube{
        background-color: rgb(205, 32, 31);
      }

      &.instagram{
        background-color: rgb(18, 86, 136);
      }
    }
  }
}

.menubar{
  display: inline-block;
  margin-left: 28px;
  position: relative;
  z-index: 10;
  bottom: 42px;

  // Mobile only
  @media (max-width: $screen-xs-max){
    bottom: inherit;
  }

  .icon-bar{
    display: block;
    width: 21px;
    height: 3px;
    background-color: $clr-light-blue;
    margin-top: 4px;

    &:last-child{
      margin-bottom: 3px;
    }
  }
}

.undp-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  border-top: 1px solid rgba(38, 95, 145, 0.5);
  padding: 28px 0 15px;
  background-color: $clr-blue;

  .list-footer-nav{
    margin: 0 -7px 14px;

    > li{
      padding: 0 7px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 20px;
      }

      a{
        font-size: 11.5px;
        color: $clr-light-blue;

        &:hover, &:focus{
          color: $clr-white;
          text-decoration: none;
        }
      }
    }
  }

  .txt-copyright{
    font-size: 12px;
    margin-bottom: 0;
    color: $clr-gray;
  }
}

.off-canvas#slide-menu{
  background: #11294f;
  @include box-shadow(-1px 0px 18px 1px rgba(0,0,0,0.75));
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 320px;
  @include transition(.6s ease-in-out right);
  //@include flexbox();
  //@include flex-flow(column);
  overflow-x: hidden;
  overflow-y: auto;


  &.open{
    right: 0;
    @include transition(.6s ease-in-out right);
  }
}

.no-scroll{
  overflow: hidden;
}

.canvas-header{
  height: 170px;
  //@include align-self(flex-start);
  width: 100%;
  padding: 20px 20px 0;

  .btn-close{
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 36px;
    line-height: 20px;
    color: $clr-blue3;
    z-index: 11;

    &:hover, &:focus{
      text-decoration: none;
      outline: none;
    }
  }

  .box-search{
    display: block;
    margin: 0 auto 16px;
    padding: 0;
    text-align: center;

    .search-group{
      margin-bottom: 13px;
    }
  }

  h4{
    margin: 0;
    color: $clr-gray1;
    font-size: 14.5px;
    border-bottom: 1px solid #21537f;
    padding-bottom: 10px;
  }
}

.canvas-scroll{
  width: 100%;
  //@include align-self(flex-end);
  //@include flex-grow(1);
  position: relative;
  top: 5px;

  .list-main-nav, .list-top-nav{
    list-style-type: none;
    padding: 0;
    margin: 0 20px 0;
    border-bottom: 1px solid #21537f;

    > li{
      margin: 0 -20px;

      > a{
        display: block;
        padding: 12px 20px;
        color: $clr-light-blue;
        font-size: 14.5px;
        text-decoration: none;
      }

      &.active{

        > a{
          background-color: $clr-blue2;
        }
      }
    }
  }

  .list-top-nav{
    border-bottom: none;

    > li{

      > a{

        i{
          vertical-align: middle;
          padding-left: 5px;
        }
      }
    }

    .dropdown-funding{
      position: relative;
      padding: 0;
      @include box-shadow(none);

      > li{

        > a{
          padding: 20px 0;

          &:first-child{
            padding-top: 10px;
          }

          &:hover, &:focus{
            color: $clr-white;
          }
        }
      }

      .funding-popup{
        top: 30px;
      }
    }
  }
}

/* Popup Menu caret icon hover effect scss */

[data-pop], [data-popfunding]{

  > a{
    color: #66C2FF ;
    .icon-caret:before{
      content: "\f0d7";
    }
  }

  &.hover{

    > a{
      color: #FFF !important;
      .icon-caret:before{
        content: "\f0d8";
      }
    }
  }
}

