html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    margin-bottom: 160px;
  }

  // Mobile only
  @media (max-width: $screen-xs-max){
    margin-bottom: 200px;
  }

  &.undp{
    background-color: $clr-blue;
  }

  &.undp-work{
    background-color: $clr-white;
  }
}

// row col equal height

.row-eq-height {
  @include flexbox();

  // Mobile only
  @media (max-width: $screen-xs-max){
    display: block;
  }
}

.undp-header{
  min-height: 124px;
  border-bottom: 1px solid rgba(38, 95, 145, 0.5);
  background: transparent url("../images/bg-header.png") no-repeat top center;
  background-size: cover;

  // Mobile only
  @media (max-width: $screen-xs-max){
    min-height: 88px;
    background: #043264;
  }

  .box-logo{
    width: 130px;
    height: 112px;
    @include background-image-retina('../images/logo-undp', png, 130px, 112px);
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;

    // Mobile only
    @media (max-width: $screen-xs-max){
      width: 92px;
      height: 80px;
      background-size: 92px 80px;
    }
  }

  .box-right{
    position: relative;
    margin-left: 186px;

    @media (max-width: $screen-md-max){
      margin-left: 140px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      margin-left: 150px;
    }

    // Mobile only
    @media (max-width: $screen-xs-max){
      margin-left: 102px;
      height: 88px;
      //@include flexbox();
      //@include flex-flow(row-reverse);
    }

    .wrap-heading{
      font-size: 13px;
      color: $clr-white;
      margin: 0 0 20px;
      font-weight: normal;

      @media (max-width: $screen-md-max){
        position: relative;
        top: 52px;
        margin: 0;
        font-size: 16px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        top: 40px;
        width: 200px;
        line-height: 22px;
      }

      // Mobile only
      @media (max-width: $screen-xs-max){
        margin-bottom: 0;
        //@include align-self(center);
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0%, -50%);
        font-size: 13px;
        width: 160px;
        line-height: 18px;
      }
    }

    .menu-right-xs{
      //@include align-self(center);

      @media (max-width: $screen-xs-max){
        position: absolute;
        top: 50%;
        @include translate(0%, -50%);
        right: 0;
      }

      .box-search{

        @media (max-width: $screen-xs-max){
          display: none !important;
        }
      }
    }
  }
  > .container{
    position: relative;
  }
}

.countries-wrap{
  position: absolute;
  min-width: 950px;
  background-color: $clr-dark-blue;
  padding: 18px 23px 0;
  @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.45));
  z-index: 10000;
  margin-top: 5px;
  top: 30px;
  right: 0;

  @media (max-width: $screen-md-max){
    position: fixed;
    min-width: 100%;
    width: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    @include flexbox();
    @include flex-flow(column);
    overflow: scroll;
  }

  .wrap-heading{
    font-size: 13px;
    color: $clr-gray1;
    margin-bottom: 5px;

    @media (max-width: $screen-xs-max){
      margin-bottom: 10px;
    }
  }

  .col-countries{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: $screen-xs-max){
      width: 50%;
    }
  }

  .list-countries{
    padding: 5px 0;
    border-bottom: 1px solid $clr-blue2;
    margin-bottom: 0;

    &:last-child{
      border-bottom: none;
    }

    > li{

      > a{
        color: $clr-white;
        font-size: 11px;
        line-height: 22px;
        display: inline-block;

        @media (max-width: $screen-md-max){
          line-height: 24px;
        }

        &:hover, &:focus{
          color: $clr-white;
          text-decoration: underline;
        }
      }

      span{
        font-size: 11px;
        line-height: 22px;
        color: $clr-gray1;
      }

      &.txt-lg{

        a{
          line-height: 16px;
        }
      }
    }

    &.bt-border{
      border-bottom: 1px solid $clr-blue2 !important;
    }
  }

  .btn-close{
    display: none;

    @media (max-width: $screen-md-max){
      position: absolute;
      top: 12px;
      right: 10px;
      font-size: 36px;
      line-height: 20px;
      color: $clr-blue3;
      display: block;

      &:hover, &:focus{
        text-decoration: none;
        outline: none;
      }
    }
  }

  .search-group{

    @media (max-width: $screen-xs-max){
      margin-bottom: 0;

      .form-control{
        @include border-radius(0);
      }
    }
  }
}

.dropdown-funding{
  background-color: $clr-dark-blue;
  border: none;
  left: 10px;
  padding: 11px 0;
  min-width: 152px;
  @include border-radius(0);

  > li{

    > a{
      font-size: 11.5px;
      color: $clr-white;
      padding: 3px 15px;

      &:hover, &:focus{
        background-color: transparent;
        color: $clr-white;
      }
    }
  }
}

.box-search{
  display: inline-block;
  position: relative;
  z-index: 10;

  .search-group{
    margin-bottom: 16px;

    .form-control{
      @include border-radius(0);
      border: none;
      height: 26px;
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 30px;
    }

    .form-control-feedback{
      height: 26px;
      line-height: 24px;
      color: #999999;
      font-size: 18px;
      width: 26px;
    }

    // placeholder scss

    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control::-moz-placeholder {  /* Firefox 19+ */
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }

    .form-control:-ms-input-placeholder {
      font-size: 13px;
      font-style: italic;
      color: $clr-gray;
    }
  }
}

.pos-top .list-top-nav{
  padding-top: 8px;
  margin: 0 -10px 22px;
  padding-left: 0;
  list-style: none;

  > li{
    padding: 0 10px;
    display: inline-block;

    > a{
      font-size: 11.5px;
      color: $clr-light-blue;

      &:hover, &:focus{
        color: $clr-white;
        text-decoration: none;
      }

      i{
        vertical-align: middle;
        padding-left: 5px;
      }
    }

    &.open{

      #dropdownMenuFunding{
        color: $clr-white;

        .icon-caret-down:before{
          content: "\f0d8";
        }
      }
    }
  }
}

.pos-top .list-main-nav{
  margin: 0 -10px;
  padding-left: 0;
  list-style: none;

  > li{
    display: inline-block;
    padding: 8px 0 0;
    margin: 0 10px;
    border-top: 1px solid $clr-blue1;

    a{
      font-size: 17px;
      color: $clr-light-blue;
      font-weight: bold;

      &:hover, &:focus{
        color: $clr-white;
        text-decoration: none;
      }
    }
  }
}

.list-language{
  padding-top: 8px;
  margin: 0 -8px 16px;
  text-align: center;

  > li{
    position: relative;
    padding: 0 8px;

    a{
      font-size: 11px;
      color: $clr-light-blue;

      &:hover, &:focus{
        text-decoration: none;
      }
    }

    &.active{

      a{
        color: $clr-gray;
      }
    }

    &:before{
      content: '';
      position: absolute;
      right: -2px;
      width: 1px;
      top: 7px;
      bottom: 4px;
      background-color: $clr-blue1;
    }

    &:last-child{

      &:before{
        display: none;
      }
    }
  }
}

.list-social-nav{
  text-align: center;
  margin: 0 -5px;

  > li{

    .icon-box{
      display: block;
      width: 25px;
      height: 25px;
      background-color: $clr-blue1;
      line-height: 25px;
      color: $clr-white;
      @include opacity(0.6);

      svg{
        fill: $clr-white;
      }

      &:hover, &:focus{
        @include opacity(1);
      }

      &.facebook{
        background-color: rgb(59, 89, 152);
      }

      &.twitter{
        background-color: rgb(29, 161, 242);
      }

      &.linkedin{
        background-color: rgb(0, 119, 181);
      }

      &.youtube{
        background-color: rgb(205, 32, 31);
      }

      &.instagram{
        background-color: rgb(18, 86, 136);
      }
    }
  }
}

.menubar{
  display: inline-block;
  margin-left: 28px;
  position: relative;
  z-index: 10;
  bottom: 42px;

  // Mobile only
  @media (max-width: $screen-xs-max){
    bottom: inherit;
  }

  .icon-bar{
    display: block;
    width: 21px;
    height: 3px;
    background-color: $clr-light-blue;
    margin-top: 4px;

    &:last-child{
      margin-bottom: 3px;
    }
  }
}

.undp-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  border-top: 1px solid rgba(38, 95, 145, 0.5);
  padding: 28px 0 15px;
  background-color: $clr-blue;

  .list-footer-nav{
    margin: 0 -7px 14px;

    > li{
      padding: 0 7px;

      @media (max-width: $screen-sm-max) {
        margin-bottom: 20px;
      }

      a{
        font-size: 11.5px;
        color: $clr-light-blue;

        &:hover, &:focus{
          color: $clr-white;
          text-decoration: none;
        }
      }
    }
  }

  .txt-copyright{
    font-size: 12px;
    margin-bottom: 0;
    color: $clr-gray;
  }
}

.off-canvas#slide-menu{
  background: #11294f;
  @include box-shadow(-1px 0px 18px 1px rgba(0,0,0,0.75));
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -350px;
  bottom: 0;
  width: 320px;
  @include transition(.6s ease-in-out right);
  padding: 20px 20px 0;
  @include flexbox();
  @include flex-flow(column);

  &.open{
    right: 0;
    @include transition(.6s ease-in-out right);
  }
}

.no-scroll{
  overflow: hidden;
}

.canvas-header{
  height: 170px;
  @include align-self(flex-start);
  width: 100%;

  .btn-close{
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 36px;
    line-height: 20px;
    color: $clr-blue3;
    z-index: 11;

    &:hover, &:focus{
      text-decoration: none;
      outline: none;
    }
  }

  .box-search{
    display: block;
    margin: 0 auto 16px;
    padding: 0;
    text-align: center;

    .search-group{
      margin-bottom: 13px;
    }
  }

  h4{
    margin: 0 0 15px;
    color: $clr-gray1;
    font-size: 14.5px;
    border-bottom: 1px solid #21537f;
    padding-bottom: 10px;
  }
}

.canvas-scroll{
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  @include align-self(flex-end);
  @include flex-grow(1);

  .list-main-nav, .list-top-nav{
    list-style-type: none;
    padding: 0;
    margin: -12px 0 15px;
    border-bottom: 1px solid #21537f;

    > li{
      padding: 12px 0;

      > a{
        color: $clr-light-blue;
        font-size: 14.5px;
        text-decoration: none;
      }
    }
  }

  .list-top-nav{
    border-bottom: none;
    margin-bottom: 0;

    > li{

      > a{

        i{
          vertical-align: middle;
          padding-left: 5px;
        }
      }

      &.open{

        #dropdownMenuFunding{
          color: $clr-white;

          .icon-caret-down:before{
            content: "\f0d8";
          }
        }
      }
    }

    .dropdown-funding{
      padding: 0;
      margin: 0;
      @include box-shadow(none);

      > li{

        > a{
          padding: 20px 0;

          &:first-child{
            padding-top: 10px;
          }

          &:hover, &:focus{
            color: $clr-white;
          }
        }
      }
    }
  }
}
