.main-content{
  padding: 38px 0;
}

.feature-box{
  position: relative;
  margin-bottom: 38px;

  // Mobile only
  @media (max-width: $screen-xs-max){
    margin-bottom: 10px;
  }

  img{

    // Mobile only
    @media (max-width: $screen-xs-max){
      width: 100%;
    }
  }

  .feature-heading{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 41, 78, 0.8);
    min-height: 60px;
    line-height: 60px;
    font-size: 20px;
    margin: 0;
    padding: 0 20px;
    color: $clr-white;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      min-height: 40px;
      line-height: 40px;
      font-size: 14px;
      padding: 0 10px;
    }

    // Mobile only
    @media (max-width: $screen-xs-max){
      font-size: 14px;
      min-height: 34px;
      line-height: 34px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 5px;
    }
  }
}

.feature-txt-box{
  margin-bottom: 32px;
}

.article-box{
  margin-bottom: 38px;

  // Mobile only
  @media (max-width: $screen-xs-max){
    margin-bottom: 32px;
  }

  img{
    margin-bottom: 4px;

    // Mobile only
    @media (max-width: $screen-xs-max){
      width: 100%;
    }
  }

  .txt-article{
    font-size: 10px;
    color: $clr-light-blue;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
  }

  .article-heading{
    font-size: 18px;
    color: $clr-white;
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      font-size: 14px;
      line-height: 18px;
    }

    // Mobile only
    @media (max-width: $screen-xs-max){
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }

  &.speakers-box{

    // Mobile only
    @media (max-width: $screen-xs-max){
      margin-bottom: 0;
    }

    img{
      margin-bottom: 23px;
    }
  }
}

.article-para{

  p{
    font-size: 15px;
    color: $clr-light-green;
    margin-bottom: 0;
    line-height: 16px;

    // Mobile only
    @media (max-width: $screen-xs-max) {
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: 50px; /* Fallback for non-webkit */
      margin: 0;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
