.main-content-work{
  padding-top: 0;
}

.content-wrap{

  > h2{
    font-size: 35px;
    font-weight: bold;
    color: $clr-gray3;
    margin: 0 0 8px;
  }
}

.main-subnav{
  border-bottom: 1px solid $clr-light-blue1;
  /* Background Gradient */
  background: #def3ff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #def3ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#def3ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#def3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#def3ff',GradientType=0 ); /* IE6-9 */
  height: 57px;

  @media (max-width: $screen-xs-max){
    height: 64px;
  }

  ul{
    margin: 0 5px;

    > li{
      position: relative;
      margin-left: -5px;
      padding: 0;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        width: 33%;
      }

      @media (max-width: $screen-xs-max){
        width: 33%;
      }

      > a{
        line-height: 57px;
        padding: 0 20px;
        font-size: 17px;
        font-weight: bold;
        color: $clr-blue4;
        text-decoration: none;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          line-height: 18px;
          padding: 10px;
          margin: 0 10px;
          display: inline-block;
          vertical-align: middle;
        }

        @media (max-width: $screen-xs-max){
          line-height: 12px;
          padding: 8px;
          margin: 0;
          display: inline-block;
          font-size: 12px;
          vertical-align: middle;
        }
      }

      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #def3ff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #99d6ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#99d6ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#99d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99d6ff',GradientType=0 ); /* IE6-9 */

        @media (max-width: $screen-xs-max) {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,99d6ff+25,99d6ff+75,99d6ff+100&0.01+0,1+25,1+75,0.01+100 */
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(153,214,255,1) 25%, rgba(153,214,255,1) 75%, rgba(153,214,255,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 25%,rgba(153,214,255,1) 75%,rgba(153,214,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 25%,rgba(153,214,255,1) 75%,rgba(153,214,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#0399d6ff',GradientType=0 ); /* IE6-9 */

        }
      }

      &:last-child{

        &:after{
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background: #def3ff; /* Old browsers */
          background: -moz-linear-gradient(top,  #ffffff 0%, #99d6ff 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #ffffff 0%,#99d6ff 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #ffffff 0%,#99d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99d6ff',GradientType=0 ); /* IE6-9 */

          @media (max-width: $screen-xs-max) {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,99d6ff+25,99d6ff+75,99d6ff+100&0.01+0,1+25,1+75,0.01+100 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(153,214,255,1) 40%, rgba(153,214,255,1) 60%, rgba(153,214,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 40%,rgba(153,214,255,1) 60%,rgba(153,214,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 40%,rgba(153,214,255,1) 60%,rgba(153,214,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#0399d6ff',GradientType=0 ); /* IE6-9 */

          }
        }
      }
    }
  }
}

.undp-breadcrumb{
  background-color: transparent;
  @include border-radius(0);
  padding: 0;
  margin: 0 0 18px;
  padding-top: 18px;

  > li{

    a{
      color: $clr-blue4;
      font-size: 13px;

      span{
        font-size: 15px;
      }
    }
  }
}

.aside-wrap{
  background-color: #f2faff;
  margin-bottom: 30px;
}

.aside-latest{

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    background-color: transparent;
  }

  @media (max-width: $screen-xs-max){
    background-color: transparent;
  }
}

.aside-link{
  margin-bottom: 20px;

  ul{
    margin: 0;

    > li{
      position: relative;

      > a{
        font-size: 13px;
        padding: 15px 20px 15px 40px;
        display: block;
        color: $clr-gray;
        line-height: 19px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        > i{
          padding-right: 5px;
          margin-left: -9px;
        }

        .badge {
          float: right;
          padding: 0;
          width: 25px;
          line-height: 25px;
          text-align: center;
          @include border-radius(50%);
          background-color: $clr-gray;
          color: #fff;
        }
      }
      &:hover > a, &:focus >a {
        background-color: $clr-gray2;
        text-decoration: none;
        color: $clr-white;
      }

      &.active{

        > a{
          background-color: $clr-gray2;
          color: $clr-white;
          border-top-color: #5E676F;
          border-bottom-color: #5E676F;

          i{
            color: $clr-white;
          }

        }

        &:before{
          content: '';
          position: absolute;
          right: -8px;
          border-top: 8px solid transparent;
          border-left: 8px solid $clr-gray2;
          border-bottom: 8px solid transparent;
          top: 50%;
          margin-top: -8px;

          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
            display: none;
          }

          @media (max-width: $screen-xs-max){
            display: none;
          }
        }
      }
      &.active,&:hover {
        .badge {
          background-color: #fff;
          color: $clr-gray;
        }
      }

      &.has-child {
        i {
          margin-left: -12px;
          @include translate(0, 20);
          &:before {
            content: "\f0d7";
          }
        }
      }
    }
    ul {
      list-style: none;
      display: none;
      padding: 0;

      li {
        a {
          padding: 5px 10px 5px 50px;
          &:hover, &:focus, &:active {
            background-color: #9ebeda;
          }
        }
      }
    }
  }

  .box-collapse{
      padding: 0;
  }

  .research-links{

    > li{

      &.active{

        a{
          background-color: transparent;
          border-color: transparent;
          color: $clr-gray;
          position: relative;

          &:before{
            content: '»';
            position: absolute;
            left: 25px;
            font-size: 15px;
            line-height: 18px;
          }
        }

        &:before{
          border: none;
        }
      }
    }
  }
}

.stories-wrap{
  padding: 0 10px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    padding: 0;
  }

  @media (max-width: $screen-xs-max){
    padding: 0;
  }

  .btn-subscribe{
    font-size: 13px;
    font-weight: normal;
    color: $clr-gray;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 8px;

    img{
      width: 15px;
      margin-left: 5px;
    }
  }

  .form-wrap{
    background-color: #f2faff;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(179, 179, 179, 0.5);

    label{
      font-size: 12.5px;
      color: $clr-gray;
      font-weight: normal;
    }

    .select-box{
      background-color: $clr-white;

      > i{
        color: $clr-blue4;
      }
    }

    .form-control{
      @include border-radius(0);
      color: $clr-black;
      font-size: 12.5px;

      &:focus, &:active{
        @include box-shadow(none);
        border-color: #ccc;
      }
    }
  }
}

.media-stories{
  margin-bottom: 20px;

  .media-left{
    padding-right: 20px;

    @media (max-width: $screen-xs-max){
      padding-right: 15px;
    }
  }

  .media-object{
    width: 130px;

    @media (max-width: $screen-xs-max){
      width: 80px;
    }
  }

  .media-heading{
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
    color: $clr-blue4;
    font-weight: bold;
    line-height: 18px;
  }

  .media-body{
    height: 130px;

    p{
      font-size: 13px;
      color: $clr-gray;
      margin-bottom: 0;
    }
  }
}

.aside-collapse-wrap{

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin-bottom: 10px;
  }

  @media (max-width: $screen-xs-max){
    margin-bottom: 10px;
  }
}

.latest-box{
  border-top: 2px solid #b3b3b3;
  padding: 15px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    padding-top: 10px;

    &.box-collapse{
      padding: 0 15px;
      background-color: #f2faff;
    }
  }

  @media (max-width: $screen-xs-max){
    padding-top: 10px;

    &.box-collapse{
      padding: 0 15px;
      background-color: #f2faff;
    }
  }

  > h4{
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin: 0 0 12px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      display: none;
    }

    @media (max-width: $screen-xs-max){
      display: none;
    }
  }

  .link-view{
    display: inline-block;
    font-size: 13px;
    margin-bottom: 20px;
    color: $clr-blue4;
  }

  &.news-box{

    > p{
      font-size: 13px;
      margin-bottom: 18px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        padding-top: 15px;
      }

      @media (max-width: $screen-xs-max){
        padding-top: 15px;
      }

      span{
        color: $clr-gray;
        padding-right: 5px;
        font-weight: bold;
      }

      a{
        color: $clr-blue4;
      }
    }
  }

  &.focus-box{

  }

  &.social-box{
    padding-bottom: 5px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding-bottom: 0;
    }

    @media (max-width: $screen-xs-max){
      padding-bottom: 0;
    }

    > h4{
      margin-bottom: 12px;
    }

    .list-social-nav{
      text-align: left;
      margin: 0;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        padding: 15px 0 0;
      }

      @media (max-width: $screen-xs-max){
        padding: 15px 0 0;
      }

      > li{
        margin-bottom: 15px;

        a{
          color: $clr-blue4;
        }

        .icon-box{
          display: inline-block;
          vertical-align: middle;
        }

        span{
          vertical-align: middle;
          padding-left: 8px;
          font-size: 13px;
        }
      }
    }
  }
}

.media-focus{

  .media-object{
    width: 60px;

    @media (max-width: $screen-xs-max){
      width: 150px;
    }
  }

  .media-right{
    padding-left: 8px;
  }

  .media-body{

    p{
      font-size: 13px;
      color: #333;
      margin-bottom: 12px;
    }
  }
}

.nav-pagination{
  text-align: center;
  margin-bottom: 36px;

  @media (max-width: $screen-xs-max){
    padding: 10px;
    margin-bottom: 10px;
  }
}

.undp-pagination{
  margin: 0;
  @include border-radius(0);

  > li{

    > a{
      font-size: 13px;
      color: $clr-blue4;
      border: none;
      padding: 0 8px;
      line-height: 23px;
      margin: 0 1px;

      &:hover, &:focus{
        color: $clr-blue4;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        margin: 0 5px;
      }

      @media (max-width: $screen-xs-max){
        margin: 0 5px;
      }
    }

    &.active{

      a{
        background-color: #eeeeee;
        color: $clr-blue4;

        &:hover, &:focus{
          background-color: #eeeeee;
          color: $clr-blue4;
        }
      }
    }
  }
}

.info-link-box{
  background-color: #f2faff;
  padding: 30px 0;
  @media (max-width: $screen-xs-max){
    padding-top: 0;
    //margin-bottom: -5px;
  }
  //@media (max-width: $screen-xs-max) and (orientation: portrait){
  //  padding-bottom: 70px;
  //}

  .row-eq-height{
    //@include flex-wrap(wrap);
  }
}

.info-wrap{
  padding: 0 40px;

  /* For landscape layouts only */
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    padding: 0 10px;
  }

  @media (max-width: $screen-xs-max){
    padding: 0;
  }

  &:before{
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
    bottom: 0;
    border-right: 1px solid $clr-light-blue1;
    height: 100%;

    @media (max-width: $screen-xs-max){
      border-right: none;
    }
  }

  > h4{
    margin: 0 0 12px;

    a{
      font-size: 17px;
      font-weight: bold;
      color: $clr-blue4;
      line-height: 22px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        font-size: 16px;
      }
    }
  }

   a{
     font-size: 13px;
     line-height: 20px;
     color: $clr-blue4;
  }

  &.work-wrap{
    padding-left: 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding: 0;
    }

    @media (max-width: $screen-xs-max){
      padding: 25px 0 0;
    }

    > img{
      width: 158px;
      padding-top: 6px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        width: 118px;
      }
    }
  }

  &.goal-wrap{
    text-align: center;

    > h4{
      margin-bottom: 8px;
      text-align: left;
    }

    img{
      margin: 0 auto;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin: 0;
      padding: 0;
    }

    /* For landscape layouts only */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      padding: 0;
    }

    @media (max-width: $screen-xs-max){
      margin: 30px 0;
      border-bottom: 1px solid $clr-light-blue1;
      border-top: 1px solid $clr-light-blue1;
      padding: 30px 0;
      text-align: left;

      img{
        margin: 0 auto;
      }
    }
  }

  &.prespective-wrap{
    padding-right: 0;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding: 0;
    }

    @media (max-width: $screen-xs-max){
      margin-bottom: 30px;
    }

    &:before{
      border-right: none;
    }
  }
}

.nav-work{
  margin-bottom: 0;

  > li{
    padding: 7px 0;

    > a{
      display: block;
      line-height: 18px;
    }
  }
}

.prespective-wrap{

  > a{
    font-weight: bold;
  }

  .media{
    padding-top: 26px;
    margin: 0;
  }

  .media-object{
    width: 140px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 118px;
    }
  }

  .media-heading{
    font-size: 13px;
    color: $clr-gray;
    line-height: 18px;
    margin: 0;
    font-weight: bold;
  }

  .media-body{
    font-size: 13px;
    color: $clr-black;
  }
}

.btn-share{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(1, 55, 112, 0.60);
  color: $clr-white;
  font-size: 21px;
  text-align: center;
  line-height: 40px;
  z-index: 1;
  text-decoration: none;
  display: inline-block;

  &:hover, &:focus{
    text-decoration: none;
  }
}

.box-toggle{
  float: inherit;
  min-height: 40px;
  //background-color: #043264;
  background-color: #0A294E;
  margin: 0;
  width: 100%;
  @include border-radius(0);
  color: $clr-white;
  text-align: left;
  font-size: 18px;
  line-height: 20px;


  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    display: block;
  }

  i{
    vertical-align: middle;
    padding-top: 2px;

    @media (max-width: $screen-sm-max) {
      position: absolute;
      right: 10px;
      top: 25%;
    }


    &.icon-caret-down:before{
      content: "\f0d8";
    }
  }

  &.collapsed{
    color: $clr-light-blue;

    .icon-caret-down:before{
      content: "\f0d7";
    }
  }
}

.box-collapse{

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    border: 1px solid #b3b3b3;
    border-top-color:transparent;
    padding: 0;
  }

  @media (max-width: $screen-xs-max){
    border: 1px solid #b3b3b3;
    border-top-color:transparent;
    padding: 0;
  }

  &.collapse{

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      display: none !important;

      &.in{
        display: block !important;
      }
    }
  }
}


// Results at a Glance Page SCSS
.result-wrap{
  padding: 0 10px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    padding: 0;
  }

  @media (max-width: $screen-xs-max){
    padding: 0;
  }

  > h2{
    margin: 0 0 25px;
  }

  .development-result{

    h3{
      font-weight: bold;
      color: $clr-gray3;
      margin: 0 0 15px;
    }

    > img{
      margin-bottom: 15px;
    }
  }

  .result-list{
    margin-bottom: 25px;
  }
}


// Results at a Glance Page SCSS
.publication-wrap{

  > h2{
    margin-bottom: 20px;

    @media (max-width: $screen-xs-max){
      font-size: 22px;
    }
  }

  .search-group{
    margin-bottom: 30px;
  }
}

.report-wrap{
  margin-bottom: 40px;

  > h3{
    font-size: 24px;
    color: $clr-gray3;
    margin: 0 0 25px;

    @media (max-width: $screen-xs-max){
      font-size: 20px;
    }
  }
}

.report-box{
  margin-bottom: 20px;

  @media (max-width: $screen-xs-max){
    //height: 245px;
  }

  > img{
    margin: 0 auto 10px;
    width: 100%;
  }

  p{
    margin-bottom: 3px;
    line-height: 18px;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: 36px; /* Fallback for non-webkit */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    a{
      color: $clr-blue4;
    }
  }

  span{
    font-size: 13px;
    font-weight: bold;
    color: $clr-gray;
  }
}

.report-latest{
  padding-bottom: 30px;

  .latest-box{

    .media-body{

      > a{
        font-size: 13px;
        font-weight: bold;
        color: $clr-blue4;
      }

      img{
        margin-bottom: 15px;

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
          margin: 0 auto 15px;
        }

        @media (max-width: $screen-xs-max){
          margin: 0 auto 15px;
        }
      }
    }

    .media-right{

      > a{
        display: inline-block;
        margin-bottom: 15px;
      }
    }

    .link-view{
      //text-transform: uppercase;
      font-size: 13px;
      color: $clr-blue4;
    }
  }
}


/* Sustainable Development Goals Page SCSS */
.goals-wrap{

  > h2{
    margin-bottom: 12px;
  }

  p{

    .default-link{
      color: $clr-blue4;
    }
  }

  .txt-highlighted{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .sub-heading{
    font-size: 24px;
    color: $clr-gray3;
    font-weight: bold;
    margin: 0 0 12px;
  }

  .img-wrap{
    padding: 10px 0;
    text-align: center;

    > img{
      width: 130px;
      margin: 0 10px 20px;

      /* For landscape layouts only */
      @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        width: 100px;
      }

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        width: 100px;
      }

      @media (max-width: $screen-xs-max){
        width: 26.5%;
      }
    }
  }

  .content-box{
    margin-bottom: 20px;

    ul{
      padding: 5px 0 5px 35px;
    }
  }

  .video-wrap{
    margin-bottom: 30px;

    img{
      width: 100%;
    }
  }
}

.aside-goals{

  .default-link{
    font-size: 13px;
    display: inline-block;
    color: $clr-blue4;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin: 0 0 20px;
    }

    @media (max-width: $screen-xs-max){
      margin: 0 0 20px;
    }
  }

  .media-featured{
    margin-bottom: 15px;

    .media-body{

      > a{
        font-size: 13px;
        line-height: 18px;
        display: block;
        color: $clr-blue4;
      }
    }

    .media-object{
      width: 80px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        width: 160px;
      }

      @media (max-width: $screen-xs-max){
        width: 120px;
      }
    }
  }

  .news-box{
    margin-bottom: 20px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin: 0;
    }

    @media (max-width: $screen-xs-max){
      margin: 0;
    }
  }
}

.featured-box{
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 0;
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
  }

  p{
    font-size: 13px;
    margin-bottom: 10px;
  }
}

.list-related-links{
  margin: 0 0 20px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 0;
    padding: 10px 0;
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
    padding: 10px 0;
  }

  > li{

    a{
      font-size: 13px;
      padding: 5px 0;
      display: block;
      color: $clr-blue4;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        padding: 8px 0;
      }

      @media (max-width: $screen-xs-max){
        padding: 8px 0;
      }
    }
  }
}

.publication-box{
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 0;
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
  }
}

.perspective-box{
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 0;
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
  }

  .media-perspective{
    margin: 0 0 15px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      margin: 15px 0 0;
    }

    @media (max-width: $screen-xs-max){
      margin: 15px 0 0;
    }

    .media-object{
      width: 80px;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
        width: 160px;
      }

      @media (max-width: $screen-xs-max){
        width: 120px;
      }
    }

    .media-body{

      p{
        font-size: 13px;
        margin-bottom: 0;

        span{
          color: $clr-gray;
          font-weight: bold;
        }

        a{
          color: $clr-blue4;
        }
      }
    }
  }

  .default-link{

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding-top: 15px;
    }

    @media (max-width: $screen-xs-max){
      padding-top: 15px;
    }
  }
}

.video-box{
  margin-bottom: 20px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
    margin: 0;
  }

  @media (max-width: $screen-xs-max){
    margin: 0;
  }

  .video-wrap{
    margin-bottom: 15px;

    img{
      margin: 0 auto;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
      padding-top: 15px;
    }

    @media (max-width: $screen-xs-max){
      padding-top: 15px;
    }
  }
}
/*country page*/
.country-main-content {
  .aside-wrap {
    a,a:hover,a:focus,a:active {
      color: #5a90da !important;
    }
  }
}
.country-main-content {
  .box-toggle {
    @media (max-width: $screen-md-max) {
      background-color: #5a90da;
    }
    &.collapsed {
      color: #0b387c;
    }
  }
}

.main-content-sdgs {
  .goals-wrap {
    .img-wrap {
      text-align: left;
      > img {
        margin: 0 20px 20px 0;
      }
    }
  }
}


//scrollable tabs
.main-subnav {
  overflow-y: hidden;
  height: 57px;

  .container {
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
  }
  //slick plugin
  ul.slick-tabs {
    height: 57px;
    max-height: 57px;
    margin: 0;
    .slick-track {
      height: 57px;
    }
    .slick-list {
      padding: 0 25px;
    }
    .slick-prev,.slick-next {
      height: 55px;
      width: 25px;
      z-index: 9;
      &:before {
        content: '';
      }
      &.slick-disabled {
        background: transparent;
      }
    }
    .slick-prev {
      left: 0;
      background: #def3ff url("../images/arrow-left.svg") left center no-repeat;
    }
    .slick-next {
      right: 0;
      background: #def3ff url("../images/arrow-right.svg") right center no-repeat;
    }
    .slick-slide {
      position: relative;
      line-height: 57px;
      a {
        display: table;
        line-height: 110%;
        padding: 0 20px;
        font-size: 15px;
        font-weight: bold;
        color: #0055aa;
        text-decoration: none;
        height: 57px;
        &:focus,&:active {
          outline: none;
          border: none;
        }
        span {
          display: table-cell;
          vertical-align: middle;
        }
        @media (max-width: $screen-sm-max) {
          //font-size: 15px;
          padding: 0 10px;
          line-height: 110%;
        }

        @media (max-width: $screen-xs-max) {
          font-size: 12px;
          //padding: 14px 10px;
        }
        @media (max-width: $screen-xs-max) and (orientation: landscape) {
          font-size: 14px;
          //padding: 5px 10px;
        }
        @media (max-width: 320px) {
          font-size: 12px;
          //padding: 8px 10px;
        }
      }
      &:before{
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #def3ff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #99d6ff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#99d6ff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#99d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99d6ff',GradientType=0 ); /* IE6-9 */

        @media (max-width: $screen-xs-max) {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,99d6ff+25,99d6ff+75,99d6ff+100&0.01+0,1+25,1+75,0.01+100 */
          background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(153,214,255,1) 25%, rgba(153,214,255,1) 75%, rgba(153,214,255,0) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 25%,rgba(153,214,255,1) 75%,rgba(153,214,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 25%,rgba(153,214,255,1) 75%,rgba(153,214,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#0399d6ff',GradientType=0 ); /* IE6-9 */

        }
      }
      &:last-child{
        &:after{
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background: #def3ff; /* Old browsers */
          background: -moz-linear-gradient(top,  #ffffff 0%, #99d6ff 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #ffffff 0%,#99d6ff 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #ffffff 0%,#99d6ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#99d6ff',GradientType=0 ); /* IE6-9 */

          @media (max-width: $screen-xs-max) {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,99d6ff+25,99d6ff+75,99d6ff+100&0.01+0,1+25,1+75,0.01+100 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(153,214,255,1) 40%, rgba(153,214,255,1) 60%, rgba(153,214,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 40%,rgba(153,214,255,1) 60%,rgba(153,214,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(153,214,255,1) 40%,rgba(153,214,255,1) 60%,rgba(153,214,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#0399d6ff',GradientType=0 ); /* IE6-9 */

          }
        }
      }
    }
  }
}



.info-link-box {
  .row-eq-height {
    @include flexbox();
    display: -webkit-flex;
    @include flex-direction(row);
    -webkit-flex-direction: row;
    @include flex-wrap(nowrap);
    margin-left: -10px;
    margin-right: -10px;

    @media (max-width: $screen-xs-max) {
      @include flex-direction(column);
      -webkit-flex-direction: column;
    }

    > div {
      float: none;
      @include flex-grow(1);
    }
  }
}