.global-kitchen {
  .list-footer-nav {
    display: none;
  }
  .kitchen-content {
    padding: 50px 0;
  }
  header {
    .list-main-nav {
      margin-left: 0;
    }
    .wrap-heading {
      margin: 30px 0 2px 0!important;
    }
    h2 {
      color: #fff;
      margin-top: 0;
      font-size: 25px;
    }
  }
  .tab-pane {
    > h1 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  .dark-blue-bg {
    background-color: $clr-blue;
    padding: 10px;
  }

  //tab content
  #navs {
    .dark-blue-bg {
      padding-bottom: 0;
    }
    .list-main-nav {
      margin-top: 20px;
    }
    .undp-breadcrumb {
      margin-bottom: 0;
    }
    .nav-pagination {
      text-align: left;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
  .modal {
    display: block;
    position: relative;
    .modal-dialog {
      width: 100%;
    }
  }
  .list-social-nav {
    text-align: left;
    margin-top: 10px;
  }
  .btn-top {
    display: block;
    left: 0;
    position: relative;
  }
}
