.global-kitchen {
  .tab-content {
    .row > div {
      margin-bottom: 20px;
    }
    .btn {
      margin-right: 5px;
    }
  }

  .list-footer-nav {
    display: none;
  }
  .kitchen-content {
    padding-top: 30px;
    padding-bottom: 150px;
  }
  header {
    .list-main-nav {
      margin-left: 0;
    }
    .wrap-heading {
      margin: 30px 0 2px 0!important;
      @media (max-width: $screen-md-max) {
        margin-top: 0!important;
        display: inline-block;
      }
    }
    h2 {
      color: #fff;
      margin-top: 0;
      font-size: 25px;
    }
    .box-search {
      visibility: hidden;
    }
  }
  .tab-pane {
    > h1 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  .dark-blue-bg {
    background-color: $clr-blue;
    padding: 10px;
  }

  //tab content
  #navs {
    .dark-blue-bg {
      padding-bottom: 0;
    }
    .list-main-nav {
      margin-top: 20px;
    }
    .undp-breadcrumb {
      margin-bottom: 0;
    }
    .nav-pagination {
      text-align: left;
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
  .modal {
    display: block;
    position: relative;
    padding-bottom: 10px;
    .modal-dialog {
      width: 90%;
    }
  }
  .list-social-nav {
    text-align: left;
    margin-top: 10px;
  }
  .btn-top,.btn-share {
    display: inline-block;
    left: 0;
    position: relative;
    bottom: 0;
    right: 0;
    margin-right: 10px;
  }

  .undp-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  [data-toggle="popover"],[data-toggle="tooltip"] {
    padding-left: 10px;
    padding-right: 10px;
  }

  .off-canvas {
    .canvas-header {
      height: auto;
    }
    .heading {
      padding-top: 20px;
      h4 {
        border: none;
      }
      h2 {
        color: $clr-white;
        margin-top: 0;
      }
    }
    .list-main-nav {
      border: none;
    }
    .aside-link {
      margin-top: 30px;

      @media (min-width: $screen-md-min) {
        display: none!important;
      }
      li {
        a {
          padding: 8px 20px;
        }
      }
    }
  }
}
