extends ./layouts/index3
block content
  .main-content.country-main-content
    .container
      .row
        .col-md-9
          .content-wrap.country-page-wrap
            .big-img-wrap
              img.img-responsive(src='images/sustainable-imgbig.jpg', alt='')
              a(href='javascript:void(0);')
                i Learn more about the Sustainable Development Goals, charting sustainable development for people and planet by 2030
              span
                b The United Nations in Bosnia and Herzegovina
              p The United Nations Country Team (UNCT) in Bosnia and Herzegovina is comprised of twelve UN Funds, Programmes and Specialized Agencies (FAO, ILO, UNDP, UNFPA, UNEP, UNESCO, UNHCR, UNICEF, UNODC, UNV, UN Women, WHO), the Bretton Woods Institutions (World Bank, IMF), ICTY and IOM. The work of the UNCT is being coordinated through the Office of the UN Resident Coordinator and framed within the One UN Programme for Bosnia and Herzegovina 2015-2019 representing the strategic, programmatic and financial basis for the development partnership between the United Nations and the country.

            .news-list-wrap
              h1 Top News
              .row.clearfix.flex-row-wrap
                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news1.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b UNHCR on EU-Turkey deal: Asylum safeguards
                      |must prevail in implementation
                  p UNHCR notes today’s agreement between the European Union and Turkey on the situation of refugees and migrants seeking to make
                    |their way to Europe.
                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news2.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b A society without women's voices is a society without future
                  p On the occasion of the International Women’s Day, UN Women BiH and EUFOR Mission to BiH have joined forces and produced two videos starring military staff promoting gender equality.

                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news3.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b Brčko, Zavidovići, Široki Brijeg and Bratunac in a project of introducing gender sensitive budgeting
                  p Representatives of local governments of Brcko District, Zavidovici, Siroki Brijeg and Bratunac signed a Memorandum of Understanding with the OSCE Mission to BiH and the UN Women.

                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news4.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b First session of the BiH - UN Joint Steering Committee
                  p The Resident Coordinator, Ms. Sinanoglu, emphasized the historical importance that the meeting holds for the overall partnership between the UN and BiH...

                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news5.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b Speach Sezin Sinanoglu - DFF 2nd Dialogue Platform Conference
                  p Today’s meeting on culture is part of the second series of dialogues and follows two earlier meetings that took place in Mostar in September 2015.

                .news-wrap.col-sm-6.col-xs-12
                  img.img-responsive(src='images/news6.jpg', alt='')
                  a(href='javascript:void(0);').text-content
                    b UN Women’s HeForShe IMPACT CEOs from Fortune 500 companies reveal gender data
                  p Davos—Ten of the world’s leading companies have released new workforce gender diversity figures, including details on leadership roles and board membership, in UN Women’s inaugural HeForShe Parity Report.

              nav.nav-pagination
                ul.pagination.undp-pagination
                  li.previous.disabled
                    a(href='javascript:void(0);', aria-label='Previous')
                      span(aria-hidden='true') &laquo; Previous
                  li
                    a(href='javascript:void(0);', aria-label='Next')
                      span(aria-hidden='true') Next &raquo;

            .news-list-wrap
              h1 Most recent news
              .row.clearfix
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') UNHCR on EU-Turkey deal: Asylum safeguards
                        | must prevail in implementation
                  span.date
                    b Mar 18 2016
                  p Photo by UNHCR / Achilleas Zavallis
                  p UNHCR notes today’s agreement between the European Union and Turkey on the situation of refugees and migrants seeking to make
                    | their way to Europe.
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') Syria conflict at 5 years: the biggest refugee and displacement crisis of our time demands a huge surge in solidarity
                  span.date
                    b Mar 18 2016
                  p Photo: UNHCR/ Andrew McConnell
                  p On the occasion of the International Women’s Day, UN Women BiH and EUFOR Mission to BiH have joined forces and produced two videos starring military staff promoting gender equality.

              .row.clearfix
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') From the glass ceiling to a carpet of shards
                  span.date
                    b Mar 8, 2016
                  p The Secretary-General, Ban Ki-moon
                  p We have shattered so many glass ceilings we created a carpet of shards. Now we are sweeping away the assumptions and bias of the past so women can advance across new frontiers.
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') To arrive at the future we want, we cannot leave anyone behind
                  span.date
                    b Mar 8, 2016
                  p UN Under-Secretary-General and Executive Director of UN Women, Phumzile Mlambo-Ngcuka
                  p This year’s celebration of International Women’s Day is the first within the new 2030 Agenda for Sustainable Development. Gender equality and the empowerment of women and girls are confidently asserted in that Agenda as intrinsic to progress


              .row.clearfix
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') UNHCR’s reaction to Statement of the EU Heads of State and Government of Turkey, 7 March
                  span.date
                    b Mar 8, 2016
                  p A young boy from Syria seen near the Idomeni border crossing on the Greek - FYR of Macedonia border. 1 March 2016. © UNHCR/Achilleas Zavallis
                  p UNHCR has taken note of the Statement of the EU Heads of State and Government of Turkey last night and we are concerned with some aspects of the proposal.
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') To arrive at the future we want, we cannot leave anyone behind
                  span.date
                    b Mar 8, 2016
                  p UN Under-Secretary-General and Executive Director of UN Women, Phumzile Mlambo-Ngcuka
                  p This year’s celebration of International Women’s Day is the first within the new 2030 Agenda for Sustainable Development. Gender equality and the empowerment of women and girls are confidently asserted in that Agenda as intrinsic to progress

              .row.clearfix
                .news-wrap.col-sm-6.col-xs-12
                  span.text-content
                    a(href='javascript:void(0);') Brčko, Zavidovići, Široki Brijeg and Bratunac in a project of introducing gender sensitive budgeting
                  span.date
                    b Mar 7, 2016
                  p Representatives of local governments of Brcko District, Zavidovici, Siroki Brijeg and Bratunac signed a Memorandum of Understanding with the OSCE Mission to BiH and the UN Women.

              nav.nav-pagination
                ul.pagination.undp-pagination
                  li.previous.disabled
                    a(href='javascript:void(0);', aria-label='Previous')
                      span(aria-hidden='true') &laquo; Previous
                  li
                    a(href='javascript:void(0);', aria-label='Next')
                      span(aria-hidden='true') Next &raquo;

        .col-md-3
          aside.aside-wrap.aside-latest.aside-goals
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#joint-projects')
                | Joint UN Projects
                i.icon-caret-down.pull-right
              #joint-projects.latest-box.news-box.collapse.navbar-collapse.box-collapse
                h4 Joint UN Projects
                .joint-projects.row.clearfix
                  a.col-xs-12.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/joint1.jpg', alt='')
                  a.col-xs-12.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/joint2.jpg', alt='')
                  a.col-xs-12.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/joint3.jpg', alt='')
                  a.col-xs-12.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/joint4.jpg', alt='')

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#publications')
                | Publications
                i.icon-caret-down.pull-right
              #publications.latest-box.news-box.collapse.navbar-collapse.box-collapse
                h4 Publications
                .joint-projects.row.clearfix
                  a.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/publica1.jpg', alt='')
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#our-perspective')
                | Important documents
                i.icon-caret-down.pull-right
              #our-perspective.latest-box.perspective-box.collapse.navbar-collapse.box-collapse
                h4 Important documents
                .media.media-perspective
                  .media-left
                    a(href='javascript:void(0);')
                      img.media-object(src='images/id1.jpg', alt='UNDP Article Image')
                  .media-body
                    p
                      a(href='javascript:void(0);')
                        b One United Nations Programme and Common Budgetary Framework BiH 2015-2019: United Nations Development Assistance Framework
                .media.media-perspective
                  .media-left
                    a(href='javascript:void(0);')
                      img.media-object(src='images/id2.jpg', alt='UNDP Article Image')
                  .media-body
                    p
                      a(href='javascript:void(0);')
                        b Common Country Assessment 2013

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#related-links')
                | United Nations in Bosnia and Herzegovina
                i.icon-caret-down.pull-right
              #related-links.latest-box.collapse.navbar-collapse.box-collapse
                h4 United Nations in Bosnia and Herzegovina
                .media.media-focus.anniversary-box.col-xs-6.col-md-12
                  a(href='javascript:void(0);')
                    img.img-responsive(src='images/tweet1.jpg', alt='')
                .media.media-focus.anniversary-box.col-xs-6.col-md-12
                  a(href='javascript:void(0);')
                    img.img-responsive(src='images/tweet2.jpg', alt='')
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-social')
                | Find us on
                i.icon-caret-down.pull-right
              #undp-social.latest-box.social-box.collapse.navbar-collapse.box-collapse
                h4 Find us on
                ul.list-unstyled.list-social-nav
                  li
                    a(href='http://www.facebook.com/undp', target='_blank')
                      svg.icon-box.facebook(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Facebook', alt='Facebook', style='width: 25px; height: 25px;')
                        g
                          path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z', fill-rule='evenodd')
                      span Facebook
                  li
                    a(href='http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=undp', target='_blank')
                      svg.icon-box.twitter(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Twitter', alt='Twitter', style='width: 25px; height: 25px;')
                        g
                          path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336', fill-rule='evenodd')
                      span Twitter
                  //li
                  //  a.icon-box.linkedin(href='http://www.linkedin.com/company/undp', target='_blank')
                  //    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='LinkedIn', alt='LinkedIn', style='width: 25px; height: 25px;')
                  //      g
                  //        path(d='M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z', fill-rule='evenodd')
                  //  a(href='http://www.linkedin.com/company/undp', target='_blank')
                  //    span Linkedin
                  li
                    a(href='http://www.youtube.com/user/undp?sub_confirmation=1', target='_blank')
                      svg.icon-box.youtube(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='YouTube', alt='YouTube', style='width: 25px; height: 25px;')
                        g
                          path(d='M13.73 18.974V12.57l5.945 3.212-5.944 3.192zm12.18-9.778c-.837-.908-1.775-.912-2.205-.965C20.625 8 16.007 8 16.007 8c-.01 0-4.628 0-7.708.23-.43.054-1.368.058-2.205.966-.66.692-.875 2.263-.875 2.263S5 13.303 5 15.15v1.728c0 1.845.22 3.69.22 3.69s.215 1.57.875 2.262c.837.908 1.936.88 2.426.975 1.76.175 7.482.23 7.482.15 0 .08 4.624.072 7.703-.16.43-.052 1.368-.057 2.205-.965.66-.69.875-2.262.875-2.262s.22-1.845.22-3.69v-1.73c0-1.844-.22-3.69-.22-3.69s-.215-1.57-.875-2.262z', fill-rule='evenodd')
                      span YouTube
                  li
                    a(href='http://instagram.com/undp', target='_blank')
                      svg.icon-box.instagram(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Instagram', alt='Instagram', style='width: 25px; height: 25px;')
                        g
                          path(d='M23.734 22.9a.79.79 0 0 1-.794.795H9.02a.79.79 0 0 1-.793-.794v-8.436h1.835c-.17.533-.26 1.12-.26 1.705 0 3.333 2.787 6.028 6.21 6.028 3.44 0 6.225-2.695 6.225-6.03 0-.585-.09-1.17-.26-1.704h1.757V22.9zm-3.698-6.94c0 2.15-1.796 3.894-4.023 3.894-2.214 0-4.01-1.745-4.01-3.893 0-2.148 1.796-3.892 4.01-3.892 2.227 0 4.023 1.745 4.023 3.893zm3.698-4.687a.9.9 0 0 1-.898.9H20.57a.9.9 0 0 1-.898-.9V9.125a.9.9 0 0 1 .898-.898h2.266a.9.9 0 0 1 .898.898v2.148zM26 8.565A2.58 2.58 0 0 0 23.435 6H8.565A2.58 2.58 0 0 0 6 8.565v14.87A2.58 2.58 0 0 0 8.565 26h14.87A2.58 2.58 0 0 0 26 23.435V8.565z', fill-rule='evenodd')
                      span Instagram

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#response-floods')
                | Floods Response and Recovery Maps
                i.icon-caret-down.pull-right
              #response-floods.latest-box.collapse.navbar-collapse.box-collapse
                h4 Floods Response and Recovery Maps
                .media.media-focus.response-box
                  .donors-wrap
                    a(href='javascript:void(0);')
                      img.img-responsive(src='images/floodsresponse.jpg', alt='')
                      span Out more about floods recovery programmes and initiatives &raquo;

  .sponsors-wrap
    .container
      .sponsors-list
        img.img-responsive(src='images/sponsors-list.jpg', alt='')
      ul
        li Phone: +387 33 293 400
        li Fax: +387 33 552 330
        li Email: registry.ba@undp.org

