extends ./layouts/index2
block content
  .main-content.country-hm-main-content
    .container
      .row
        .col-md-9
          .content-wrap.view-list-wrap
            .row.flex-row-wrap
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-8.col-xs-12
                include ./inc/country-flip-card-lg.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
              .col-sm-4.col-xs-12
                include ./inc/country-flip-card.jade
        .col-md-3
          aside.aside-wrap.aside-latest.aside-goals
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-featured')
                | What we do
                i.icon-caret-down.pull-right
              #undp-featured.latest-box.featured-box.collapse.navbar-collapse.box-collapse
                h4 What we do
                .media.media-focus
                  p The United Nations Development Programme (UNDP) is the UN’s global development network, working in 177 countries and territories. In Bosnia and Herzegovina, we are committed to helping the country through strengthened national and local capacities to carry out political, economic and social reforms and development.

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#related-links')
                | UNDP 50th Anniversary
                i.icon-caret-down.pull-right
              #related-links.latest-box.collapse.navbar-collapse.box-collapse
                h4 UNDP 50th Anniversary
                .media.media-focus.anniversary-box
                  a(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte7.jpg', alt='')

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#response-floods')
                | Response to Floods
                i.icon-caret-down.pull-right
              #response-floods.latest-box.collapse.navbar-collapse.box-collapse
                h4 Response to Floods
                .media.media-focus.response-box
                  a(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte8.jpg', alt='')
                    p
                      b Until 5 February 2016, thanks to EU
                       | funded Floods Recovery Programme
                       | we jointly rebuilt:
                  .text
                    p
                      b 4,441 homes
                      |  including 575 homes of people living in collective centers enabling return.
                    p
                      | Through SME assistance,
                      b  4333 jobs
                      |  are expected to be retained or created.
                      b
                    p
                      | The number of the employees in
                      b  SMEs that received EU financial grants increased from 3,784 to 4,173,
                      |  thus proving that financial grants have had significant impact not just on economic recovery but also as strengthening mechanism for economic growth in flooded areas.
                    p
                      b 212 public buildings
                      |  (schools, kindergartens, healthcare centers, municipal buildings, centers for social welfare, youth culture centers) and
                      b  142 communal infrastructure facilities.
                    p and so much more...
                    b
                      a(href='/content/bosnia_and_herzegovina/en/home/ourwork/response-to-floods.html') Find out about floods recovery
                  .donors-wrap
                    h5
                      b Donors:
                    img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                    a(href='javascript:void(0);')
                      img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                      b UN Floods Recovery Programme
                        |"Danas za nas" (pdf) May 2015
                  a.default-link(href='javascript:void(0);') View More &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#speakers-corner')
                | The Speakers Corner
                i.icon-caret-down.pull-right
              #speakers-corner.latest-box.collapse.navbar-collapse.box-collapse
                h4 The Speakers Corner
                .speakers-corner-box.row.clearfix
                  a.phase-map.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                    b Response Phase Map
                  a.phase-map.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                    b Response Phase Map
                  a.phase-map.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                    b Resilience Building


            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#joint-projects')
                | Joint Projects
                i.icon-caret-down.pull-right
              #joint-projects.latest-box.news-box.collapse.navbar-collapse.box-collapse
                h4 Joint Projects
                .joint-projects.row.clearfix
                  a.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte8.jpg', alt='')
                  a.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte8.jpg', alt='')
                  a.col-xs-6.col-sm-4.col-md-12(href='javascript:void(0);')
                    img.img-responsive(src='images/dummyimagte8.jpg', alt='')

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#our-perspective')
                | Like for Smart Energy
                i.icon-caret-down.pull-right
              #our-perspective.latest-box.collapse.navbar-collapse.box-collapse
                .smart-energy-wrap
                  img.img-responsive(src='images/dummyimagte7.jpg', alt='')
                  h4 Like for Smart Energy
                  p. Since 2014, two educational
                      campaigns under the slogan Like for
                      Smart Energy have been organized
                      in cities across Bosnia and
                      Herzegovina. Through quizzes and
                      advices from Professor Atom,
                      citizens learnt of the simple ways how
                      not only to save the energy, but also
                      reduce costs at home, in schools, and
                      outdoors, while protecting the
                      environment.
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-social')
                | Find us on
                i.icon-caret-down.pull-right
              #undp-social.latest-box.social-box.collapse.navbar-collapse.box-collapse
                h4 Find us on
                ul.list-unstyled.list-social-nav
                  li
                    a(href='http://www.facebook.com/undp', target='_blank')
                      svg.icon-box.facebook(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Facebook', alt='Facebook', style='width: 25px; height: 25px;')
                        g
                          path(d='M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z', fill-rule='evenodd')
                      span Facebook
                  li
                    a(href='http://twitter.com/intent/follow?source=followbutton&variant=1.0&screen_name=undp', target='_blank')
                      svg.icon-box.twitter(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Twitter', alt='Twitter', style='width: 25px; height: 25px;')
                        g
                          path(d='M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336', fill-rule='evenodd')
                      span Twitter
                  //li
                  //  a.icon-box.linkedin(href='http://www.linkedin.com/company/undp', target='_blank')
                  //    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='LinkedIn', alt='LinkedIn', style='width: 25px; height: 25px;')
                  //      g
                  //        path(d='M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z', fill-rule='evenodd')
                  //  a(href='http://www.linkedin.com/company/undp', target='_blank')
                  //    span Linkedin
                  li
                    a(href='http://www.youtube.com/user/undp?sub_confirmation=1', target='_blank')
                      svg.icon-box.youtube(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='YouTube', alt='YouTube', style='width: 25px; height: 25px;')
                        g
                          path(d='M13.73 18.974V12.57l5.945 3.212-5.944 3.192zm12.18-9.778c-.837-.908-1.775-.912-2.205-.965C20.625 8 16.007 8 16.007 8c-.01 0-4.628 0-7.708.23-.43.054-1.368.058-2.205.966-.66.692-.875 2.263-.875 2.263S5 13.303 5 15.15v1.728c0 1.845.22 3.69.22 3.69s.215 1.57.875 2.262c.837.908 1.936.88 2.426.975 1.76.175 7.482.23 7.482.15 0 .08 4.624.072 7.703-.16.43-.052 1.368-.057 2.205-.965.66-.69.875-2.262.875-2.262s.22-1.845.22-3.69v-1.73c0-1.844-.22-3.69-.22-3.69s-.215-1.57-.875-2.262z', fill-rule='evenodd')
                      span YouTube
                  li
                    a(href='http://instagram.com/undp', target='_blank')
                      svg.icon-box.instagram(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 32 32', title='Instagram', alt='Instagram', style='width: 25px; height: 25px;')
                        g
                          path(d='M23.734 22.9a.79.79 0 0 1-.794.795H9.02a.79.79 0 0 1-.793-.794v-8.436h1.835c-.17.533-.26 1.12-.26 1.705 0 3.333 2.787 6.028 6.21 6.028 3.44 0 6.225-2.695 6.225-6.03 0-.585-.09-1.17-.26-1.704h1.757V22.9zm-3.698-6.94c0 2.15-1.796 3.894-4.023 3.894-2.214 0-4.01-1.745-4.01-3.893 0-2.148 1.796-3.892 4.01-3.892 2.227 0 4.023 1.745 4.023 3.893zm3.698-4.687a.9.9 0 0 1-.898.9H20.57a.9.9 0 0 1-.898-.9V9.125a.9.9 0 0 1 .898-.898h2.266a.9.9 0 0 1 .898.898v2.148zM26 8.565A2.58 2.58 0 0 0 23.435 6H8.565A2.58 2.58 0 0 0 6 8.565v14.87A2.58 2.58 0 0 0 8.565 26h14.87A2.58 2.58 0 0 0 26 23.435V8.565z', fill-rule='evenodd')
                      span Instagram

    .info-link-box
      .container
        .row-eq-height.clearfix
          .col-md-6.col-sm-4
            .info-wrap.work-wrap.padding-none
              h4
                a(href='javascript:void(0);') Our Work &raquo;
              .row
                ul.list-unstyled.nav-work.col-sm-6
                  li
                    a(href='javascript:void(0);') Rural and Regional Development
                  li
                    a(href='javascript:void(0);') Social Inclusion and Democratic Governance
                  li
                    a(href='javascript:void(0);') Justice and Security
                  li
                    a(href='javascript:void(0);') Energy and Environment
                .report.col-sm-6
                  a(href='javascript:void(0);')
                    b Progress Towards the Realization of the MDGs in BiH 2013
                  br
                  img(src='images/book-thumb.png', alt='')

          .col-md-3.col-sm-4
            .info-wrap.goal-wrap.padding-none
              h4
                a(href='javascript:void(0);') Sustainable Development Goals &raquo;
              img(src='images/goals.png', alt='Sustainable Development Goals', class='img-responsive')
          .col-md-3.col-sm-4
            .info-wrap.footer-country-wrap.padding-none
              h4
                a(href='javascript:void(0);') About Bosnia and Herzegovina &raquo;
              ul.clearfix.stats-country
                li
                  span.title Population
                  span.amount 3.8
                  span.val million
                li
                  span.title MPI(%)
                  span.amount 0.003%
                li.flag
                  img.header-small-img(src='images/Flag_of_Bosnia_and_Herzegovina.svg', alt='Country Flag')
                li
                  span.title GNI per capita
                  span.amount $7,713
                li
                  span.title Human Dev. Index
                  span.amount 0.735
