extends ./layouts/global-kitchen.jade

block content
    .container.kitchen-content
        .row
            .col-md-2.col-sm-12.col-xs-12
                include ./inc/global-kitchen-slide-menu
            .col-md-10.col-sm-12.col-xs-12
                div.tab-content
                    div(role="tabpanel" id="home").tab-pane.active
                        include ./inc/global-kitchen-buttons

                    div(role="tabpanel" id="typo").tab-pane
                        include ./inc/global-kitchen-typo

                    div(role="tabpanel" id="tables").tab-pane
                        include ./inc/global-kitchen-tables

                    div(role="tabpanel" id="formelements").tab-pane
                        include ./inc/global-kitchen-form

                    div(role="tabpanel" id="navs").tab-pane
                        include ./inc/global-kitchen-navs

                    div(role="tabpanel" id="containers").tab-pane
                        include ./inc/global-kitchen-containers

                    div(role="tabpanel" id="dialogs").tab-pane
                        include ./inc/global-kitchen-dialogs
