extends ./layouts/bootstrap.jade

block content
  .main-content
    .container
      .row
        .col-md-3
          ul.list-unstyled.list-left-nav
            li
              a(href='javascript:void(0);')
                i.icon-sprite.icon-1
                span Transform development
            li
              a(href='javascript:void(0);')
                i.icon-sprite.icon-2
                span Strengthen governance and peacebuilding
            li
              a(href='javascript:void(0);')
                i.icon-sprite.icon-3
                span Prevent crisis, help recovery

        .col-md-9
          .row.row-eq-height
            .col-sm-8
              .feature-wrap(data-hover, data-map='images/xmap-america-north.png')
                .feature-box
                  img.img-responsive(src='images/undp-feature-img01.jpg', alt='UNDP Feature Image')
                  h3.feature-heading International Women's Day: Voices of 50 women
                .hover-content
                  span UNDP in
                  strong Eurasia
                .feature-txt-box.visible-md.visible-sm.visible-xs
                  span.txt-article UNDP Event
                  .article-para
                    p This International Women’s Day, the world stands well positioned to move forward on gender equality. The 2030 Agenda for Sustainable Development, adopted by the UN General Assembly last year, asserts that gender equality is not only as a human right, but also a necessary foundation for a peaceful and inclusive world.
                    a.link-more(href='javascript:void(0);') more &raquo;
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-asia.png')
                img.img-responsive(src='images/undp-article-img01.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article Feature
                h3.article-heading Band-e-Amir: Amazing beauty, awesome challenges
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
          .row.row-eq-height
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-america-north.png')
                img.img-responsive(src='images/undp-article-img02.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article Blog
                h3.article-heading A legacy of private sector engagement for sustainable development
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-asia.png')
                img.img-responsive(src='images/undp-article-img03.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article Feature
                h3.article-heading Female traditional leaders pave the way for fair representation
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-america-north.png')
                img.img-responsive(src='images/undp-article-img04.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article News
                h3.article-heading UNDP at 50: An investment in UN’s key role in development
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
          .row.row-eq-height
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-asia.png')
                img.img-responsive(src='images/undp-article-img05.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article Blog
                h3.article-heading Transforming local communities amidst conflict
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-america-north.png')
                img.img-responsive(src='images/undp-article-img06.png', alt='UNDP Article Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article Event
                h3.article-heading UNDP celebrates its 50th anniversary
                .article-para.visible-md.visible-sm.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a.link-more(href='javascript:void(0);') more &raquo;
            .col-sm-4
              .article-box(data-hover, data-map='images/xmap-asia.png')
                img.img-responsive(src='images/undp-speakers-img01.png', alt='UNDP Speakers Image')
                .hover-content
                  span UNDP in
                  strong Eurasia
                span.txt-article &nbsp;
                h3.article-heading Speakers Corner: Book a UNDP expert
                .article-para.visible-md.visible-sm.visible-xs
                  p UNDP has a diverse group of experts who are available to speak at public events
                  a.link-more(href='javascript:void(0);') more &raquo;
