extends ./layouts/bootstrap.jade

block content
  .main-content
    .container
      .row
        .col-sm-3

        .col-sm-9
          .row
            .col-sm-8
              .feature-box
                img.img-responsive(src='images/undp-feature-img01.jpg', alt='UNDP Feature Image')
                h3.feature-heading International Women's Day: Voices of 50 women
              .feature-txt-box.article-box.visible-xs
                span.txt-article UNDP Event
                .article-para
                  p This International Women’s Day, the world stands well positioned to move forward on gender equality. The 2030 Agenda for Sustainable Development, adopted by the UN General Assembly last year, asserts that gender equality is not only as a human right, but also a necessary foundation for a peaceful and inclusive world.
                  a(href='javascript:void(0);') more >>
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img01.png', alt='UNDP Article Image')
                span.txt-article Feature
                p.article-heading Band-e-Amir: Amazing beauty, awesome challenges
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
          .row
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img02.png', alt='UNDP Article Image')
                span.txt-article Blog
                p.article-heading A legacy of private sector engagement for sustainable development
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img03.png', alt='UNDP Article Image')
                span.txt-article Feature
                p.article-heading Female traditional leaders pave the way for fair representation
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img04.png', alt='UNDP Article Image')
                span.txt-article News
                p.article-heading UNDP at 50: An investment in UN’s key role in development
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
          .row
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img05.png', alt='UNDP Article Image')
                span.txt-article Blog
                p.article-heading Transforming local communities amidst conflict
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
            .col-sm-4
              .article-box
                img.img-responsive(src='images/undp-article-img06.png', alt='UNDP Article Image')
                span.txt-article Event
                p.article-heading UNDP celebrates its 50th anniversary
                .article-para.visible-xs
                  p As the conflict enters a second year, UNDP's cash-for-work project helps families address urgent needs
                  a(href='javascript:void(0);') more >>
            .col-sm-4
              .article-box.speakers-box
                img.img-responsive(src='images/undp-speakers-img01.png', alt='UNDP Speakers Image')
                p.article-heading Speakers Corner: Book a UNDP expert
                .article-para.visible-xs
                  p UNDP has a diverse group of experts who are available to speak at public events
                  a(href='javascript:void(0);') more >>
