extends ./layouts/index1

block content
  .main-content.main-content-work
    .main-subnav
      .container
        ul.list-inline
          li
            a(href='javascript:void(0);') Sustainable development
          li
            a(href='javascript:void(0);') Democratic governance and peacebuilding
          li
            a(href='javascript:void(0);') Climate and disaster resilience
    .container
      ul.list-inline.undp-breadcrumb
        li
          a(href='home.html') Home &raquo;
      .row
        .col-md-3
          aside.aside-wrap.aside-link
            button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#aside-link')
              | Millennium Development Goals
              i.icon-caret-down.pull-right
            ul#aside-link.list-unstyled.collapse.navbar-collapse.box-collapse
              li
                a(href='javascript:void(0);') Human Development Reports
              li.active
                a(href='javascript:void(0);') Millennium Development Goals
              li
                a(href='javascript:void(0);') Sustainable Development Goals
              li
                a(href='javascript:void(0);') Sustainable Development
              li
                a(href='javascript:void(0);') Democratic Governance and Peacebuilding
              li
                a(href='javascript:void(0);') Development Impact
              li
                a(href='javascript:void(0);') Evaluation

        .col-md-6
          .content-wrap.publication-wrap
            h2 Research and Publication
            form
              .input-group.search-group
                input.form-control(type='text', placeholder='Search')
                span.input-group-btn
                  button.icon-search.btn.btn-search(type='submit')
            .report-wrap
              h3 Featured Reports
              .row
                .col-sm-4
                  .report-box
                    a(href='#')
                     img.img-responsive(src='images/dummy-img.jpg', alt='')
                     p Citizen Engagement in Public Service Delivery
                     span.date 22 Feb 2016

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p Newsletter: IOM-UNDP Programme on Mainstreaming Migration into National Development Strategie
                      span.date 19 Feb 2016

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p Guidance Note - A Development Approach to Migration and Displacemen
                      span.date 12 Feb 2016
              a.link-view(href='javascript:void(0)') View more &raquo;

            .publication-list-wrap
              h3 Millennium Development Goals Reports
              .row
                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p MDG Progress Reports - Africa
                      span.date 28 Sep 2015

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p MDG Gap Task Force Report
                      span.date 18 Sep 2015

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p The Millennium Development Goals Report 2015
                      span.date 12 Jul 2015
              a.link-view(href='javascript:void(0)') View More MDG Reports &raquo;

            .publication-list-wrap
              h3 Fast facts & Results
              .row
                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p Fast Facts: Youth as Partners for the Implementation of the SDGs
                      span.date 01 Feb 2016

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p Fast Facts: Youth and Climate Change
                      span.date 26 Nov 2016

                .col-sm-4
                  .report-box
                    a(href='#')
                      img.img-responsive(src='images/dummy-img.jpg', alt='')
                      p Fast Facts: Youth and Peacebuilding
                      span.date 27 Aug 2016
              a.link-view(href='javascript:void(0)') View more fast facts & results &raquo;

        .col-md-3
          aside.aside-wrap.aside-latest
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-focus')
                | UNDP in Focus
                i.icon-caret-down.pull-right
              #undp-focus.latest-box.focus-box.collapse.navbar-collapse.box-collapse
                h4 UNDP in Focus
                .media.media-focus
                  .media-body
                    a(href='/content/undp/en/home/librarypage/corporate/annual-report-2014-2015/')
                      b Time for Global Action
                    p UNDP in Focus 2014-2015 highlights our key actions over the past year and their impact on the lives of beneficiaries around the world. The report also outlines the ongoing restructuring process that will ensure UNDP is fit for purpose in the new post-2015 landscape.
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                a.link-view(href='javascript:void(0);') View more &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-glance')
                | UNDP at a Glance
                i.icon-caret-down.pull-right
              #undp-glance.latest-box.focus-box.collapse.navbar-collapse.box-collapse
                h4 UNDP at a Glance
                .media.media-focus
                  .media-body
                    p As one of the world’s largest multilateral development agencies, present in over 170 countries and territories, UNDP is on the frontlines of anticipating, understanding and acting on today’s opportunities and risks.
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                a.link-view(href='javascript:void(0);')
                  | Download the brochure
                  br
                  | (PDF, 1.9 Mb) &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#hd-report')
                | Human Development Report
                i.icon-caret-down.pull-right
              #hd-report.latest-box.focus-box.collapse.navbar-collapse.box-collapse
                h4 Human Development Report
                .media.media-focus
                  .media-body
                    a(href='/content/undp/en/home/librarypage/corporate/annual-report-2014-2015/')
                      b Work for human development
                    p The 2015 report argues for a broader notion of work, one that goes beyond the jobs framework, to confront both persistent challenges such as human deprivations, inequalities, unsustainability, and gender imbalances in paid and unpaid work and emerging ones – erosion of jobs, skills gaps, climate change and others.
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                a.link-view(href='javascript:void(0);') VIEW ALL HUMAN DEVELOPMENT REPORTS &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-plan')
                | UNDP Strategic Plan 2014-2017
                i.icon-caret-down.pull-right
              #undp-plan.latest-box.focus-box.collapse.navbar-collapse.box-collapse
                h4 UNDP Strategic Plan 2014-2017
                .media.media-focus
                  .media-body
                    img(src='images/undp-article-img01.png', alt='UNDP Article Image')
                    p With the changing world as the backdrop, and building on our core strengths, our vision is focused on making the next big breakthrough in development: to help countries achieve the simultaneous eradication of poverty and significant reduction of inequalities and exclusion.

                a.link-view(href='javascript:void(0);')
                  | SEE THE FULL PUBLICATION &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#knowledge-exchange')
                | Knowledge Exchange
                i.icon-caret-down.pull-right
              #knowledge-exchange.latest-box.focus-box.collapse.navbar-collapse.box-collapse
                h4 Knowledge Exchange
                .media.media-focus
                  .media-body
                    p Teamworks is UNDP's knowledge sharing exchange that allows development professionals to gain and share knowledg
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
    .info-link-box
      .container
        .row-eq-height.clearfix
          .col-md-4.col-sm-4
            .info-wrap.work-wrap
              h4 Our Work &raquo;
              img.pull-right(src='images/undp-footer-logo.png', alt='UNDP Logo', class='img-responsive')
              ul.list-unstyled.nav-work
                li
                  a(href='javascript:void(0);') History
                li
                  a(href='javascript:void(0);') Africa
                li
                  a(href='javascript:void(0);') Arab States
                li
                  a(href='javascript:void(0);') Asia and the Pacific
                li
                  a(href='javascript:void(0);') Europe and Central Asia
                li
                  a(href='javascript:void(0);') Latin America and the Caribbean
                li
                  a(href='javascript:void(0);') Looking forward
          .col-md-4.col-sm-4
            .info-wrap.goal-wrap
              h4 Sustainable Development Goals &raquo;
              img(src='images/goals.png', alt='Sustainable Development Goals', class='img-responsive')
          .col-md-4.col-sm-4
            .info-wrap.prespective-wrap
              h4 Our Perspectives &raquo;
              a(href='javascript:void(0);') Transforming local communities amidst conflict
              .media
                .media-body
                  h4.media-heading 03 Mar 2016
                  | Looking back 50 years, the concept of development has shifted.
                .media-right
                  a(href='javascript:void(0);')
                    img.media-object(src='images/img-prespective.png', alt='Perspectives')
