extends ./layouts/index1

block content
  .main-content.main-content-work
    .container
      ul.list-inline.undp-breadcrumb
        li
          a(href='home.html') Home &raquo;
        li.active
          a(href='javascript:void(0);') About us &raquo;
      .row
        .col-md-3
          aside.aside-wrap.aside-link
            button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#aside-link')
              | Results at a Glance
              i.icon-caret-down.pull-right
            ul#aside-link.list-unstyled.collapse.navbar-collapse.box-collapse
              li.active
                a(href='javascript:void(0);') Results at a Glance
              li
                a(href='javascript:void(0);') Organizational Chart
              li
                a(href='javascript:void(0);') Frequently Asked Questions

        .col-md-9
          .content-wrap.result-wrap
            h2 Results at a Glance
            div.development-result
              h3 Key development results 2014
              img.img-responsive(src="images/ndp.jpg", alt="NDP")
            .result-list
              p Sustainable development pathways. UNDP projects led to:
              ul
                li 11.2 million people (5.7 million women) benefiting from improved livelihoods in 94 countries
                li 920,000 new jobs (41 percent for women) being created in 77 countries
                li 33 countries adopting policies and systems to boost employment and livelihoods creation
                li Technology support in 48 countries to phase out gases that destroy the ozone layer
                li 40 countries or entities implementing or completing MDG acceleration framework action plans
                li 39 countries implementing measures towards low-emission and climate-resilient development objectives
            .result-list
              p Inclusive and effective democratic governance. UNDP projects led to:
              ul
                li Over 18 million new voters registered in 21 countries, including nearly 4 million in Afghanistan, where one million more women registered than in 2009
                li 750,000 people (51 percent women) in 22 countries gaining access to legal aid services
                li 1.4 million people receiving antiretroviral treatment in 20 countries
                li 22 million people receiving HIV-related behavioural change communication in 20 countries
                li Over 7 million people (49 percent women) expressing their vision for the future through the
                li UNDP-hosted ‘My World’ global survey, the largest crowd-sourcing exercise in United Nations history
            .result-list
              p Resilience building. UNDP projects led to:
              ul
                li 98 new disaster reduction and adaptation plans being put in place in 23 countries
                li 21 countries with enforceable laws or regulations to address disaster and climate risks
                li 1.3 million people achieving better access to energy in 26 countries
                li 158 new early warning systems in 17 countries
                li 254 new disaster response and recovery plans in 14 countries
