extends ./layouts/index1
block vars
  -var page='Sustainable Development Goals'
block content
  .main-content.main-content-work.main-content-sdgs
    .container
      ul.list-inline.undp-breadcrumb
        li
          a(href='home.html') Home
            span  &raquo;
      .row
        .col-md-9
          .content-wrap.goals-wrap
            h2 Sustainable Development Goals (SDGs)
            p.txt-highlighted "World leaders have an unprecedented opportunity this year to shift the world onto a path of inclusive, sustainable and resilient development" - Helen Clark, UNDP Administrator."
            p
              | At the United Nations Sustainable Development Summit on 25 September 2015, world leaders adopted the
              a.default-link(href='javascript:void(0);')  2030 Agenda for Sustainable Development,
              |  which includes a set of 17 Sustainable Development Goals (SDGs) to end poverty, fight inequality and injustice, and tackle climate change by 2030.
            .row.img-wrap
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')
              .col-md-2.col-sm-4.col-xs-4
                img.img-responsive(src='images/default-img.png', alt='Default Image')

            .content-box
              h3.sub-heading What are the Sustainable Development Goals?
              p
                | The Sustainable Development Goals, otherwise known as the
                a.default-link(href='javascript:void(0);')  Global Goals,
                |  build on the
                a.default-link(href='javascript:void(0);')  Millennium Development Goals
                |  (MDGs), eight anti-poverty targets that the world committed to achieving by 2015. The MDGs, adopted in 2000, aimed at an array of issues that included slashing poverty, hunger, disease, gender inequality, and access to water and sanitation. Enormous progress has been made on the MDGs, showing the value of a unifying agenda underpinned by goals and targets. Despite this success, the indignity of poverty has not been ended for all.
              p The new SDGs, and the broader sustainability agenda, go much further than the MDGs, addressing the root causes of poverty and the universal need for development that works for all people.
              p UNDP Administrator Helen Clark noted: "This agreement marks an important milestone in putting our world on an inclusive and sustainable course. If we all work together, we have a chance of meeting citizens’ aspirations for peace, prosperity, and wellbeing, and to preserve our planet."
              p
                | The
                a.default-link(href='javascript:void(0);')  Sustainable Development Goals will now finish the job of the MDGs,
                |  and ensure that no one is left behind.
            .content-box
              h3.sub-heading What is UNDP's role with the Sustainable Development Goals?
              p
                | All 17 Sustainable Development Goals are connected to UNDP’s Strategic Plan focus areas:
                a.default-link(href='javascript:void(0);')  sustainable development, democratic governance and peacebuilding,
                |  and
                a.default-link(href='javascript:void(0);')  climate and disaster resilience.
                |  SDGs
                a.default-link(href='javascript:void(0);')  Number 1 on poverty, Number 10 on inequality
                |  and
                a.default-link(href='javascript:void(0);')  Number 16 on governance
                |  are particularly central to UNDP’s current work and long-term plans.
              p
                b Having an integrated approach to supporting progress across the multiple goals is crucial to achieving the Sustainable Development Goals, and UNDP is uniquely placed to support that process.
            .video-wrap
              img.img-responsive(src='images/video-default.png', alt='Default Video Image')
            .content-box
              p UNDP supports countries in three different ways, through the MAPS approach: mainstreaming, acceleration and policy support.
              ul
                li Providing support to governments to reflect the new global agenda in national development plans and policies. This work is already underway in many countries at national request;
                li Supporting countries to accelerate progress on SDG targets. In this, we will make use of our extensive experience over the past five years with the MDG Acceleration Framework; and
                li Making the UN’s policy expertise on sustainable development and governance available to governments at all stages of implementation.
              p Collectively, all partners can support communication of the new agenda, strengthening partnerships for implementation, and filling in the gaps in available data for monitoring and review. As Co-Chair of the UNDG Sustainable Development Working Group, UNDP will lead the preparation of Guidelines for National SDG Reports which are relevant and appropriate for the countries in which we work.
              p UNDP is deeply involved in all processes around the Sustainable Development Goal roll out. We are bringing our extensive programming experience to bear in supporting countries to develop their national SDG efforts.
        .col-md-3
          aside.aside-wrap.aside-latest.aside-goals
            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#undp-featured')
                | Featured Publication
                i.icon-caret-down.pull-right
              #undp-featured.latest-box.featured-box.collapse.navbar-collapse.box-collapse
                h4 Featured Publication
                .media.media-focus.media-featured
                  .media-body
                    a(href='javascript:void(0);') UNDP Support to the Implementation of the 2030 Agenda for Sustainable Development
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                p As the UN’s development arm, UNDP has a key role to play in supporting countries to make this vision a reality.
                a.default-link(href='javascript:void(0);') Download the report &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#related-links')
                | Related Links
                i.icon-caret-down.pull-right
              #related-links.latest-box.collapse.navbar-collapse.box-collapse
                h4 Related Links
                ul.list-unstyled.list-related-links
                  li
                    a(href='javascript:void(0);') Post-2015 negotiations
                  li
                    a(href='javascript:void(0);') World We Want website
                  li
                    a(href='javascript:void(0);') MY World survey
                  li
                    a(href='javascript:void(0);') Millennium Development Goals &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#related-publications')
                | Related Publications
                i.icon-caret-down.pull-right
              #related-publications.latest-box.publication-box.collapse.navbar-collapse.box-collapse
                h4 Related Publications
                .media.media-focus.media-featured
                  .media-body
                    a(href='javascript:void(0);') Sustainable Development Goals: Introducing the 2030 Agenda for Sustainable Development
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')

                .media.media-focus.media-featured
                  .media-body
                    a(href='javascript:void(0);') Delivering the Post-2015 Development Agenda
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')

                .media.media-focus.media-featured
                  .media-body
                    a(href='javascript:void(0);') A Million Voices: The World We Want - A sustainable future with dignity for all
                  .media-right
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')

                a.default-link(href='javascript:void(0);') View More &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#related-news')
                | Related News
                i.icon-caret-down.pull-right
              #related-news.latest-box.news-box.collapse.navbar-collapse.box-collapse
                h4 Related News
                p
                  span 6 Nov 2015:
                  a(href='javascript:void(0);')  Access to data crucial for achieving Global Goals, say UNDP and partners in Turkey
                p
                  span 17 Oct 2015:
                  a(href='javascript:void(0);')  International Day for the Eradication of Poverty
                p
                  span 14 Sep 2015:
                  a(href='javascript:void(0);')  Sustainable Development Summit: UNDP spokespeople and experts available for interviews in different languages
                a.default-link(href='javascript:void(0);') View more &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#our-perspective')
                | Our Perspective
                i.icon-caret-down.pull-right
              #our-perspective.latest-box.perspective-box.collapse.navbar-collapse.box-collapse
                h4 Our Perspective
                .media.media-perspective
                  .media-left
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                  .media-body
                    p
                      span 14 Sep 2015:
                      a(href='javascript:void(0);')  Young people are building peace in Colombia

                .media.media-perspective
                  .media-left
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                  .media-body
                    p
                      span 14 Sep 2015:
                      a(href='javascript:void(0);')  A recipe for sustainable development

                .media.media-perspective
                  .media-left
                    a(href='javascript:void(0);')
                      img.media-object(src='images/undp-article-img01.png', alt='UNDP Article Image')
                  .media-body
                    p
                      span 14 Sep 2015:
                      a(href='javascript:void(0);')  A new, ambitious vision requires new, ambitious ways of working
                a.default-link(href='javascript:void(0);') View more &raquo;

            .aside-collapse-wrap
              button.navbar-toggle.box-toggle.collapsed(type='button', data-toggle='collapse', data-target='#video')
                | Video
                i.icon-caret-down.pull-right
              #video.latest-box.video-box.collapse.navbar-collapse.box-collapse
                h4 Video
                .video-wrap
                  img.img-responsive(src='images/video-default.png', alt='Default Video Image')
                p Global conversation on the new sustainable development agenda
    .info-link-box
      .container
        .row-eq-height
          .col-md-4.col-sm-4
            .info-wrap.work-wrap
              h4
                a(href='javascript:void(0);') Our Work &raquo;
              img.pull-right(src='images/undp-footer-logo.png', alt='UNDP Logo', class='img-responsive')
              ul.list-unstyled.nav-work
                li
                  a(href='javascript:void(0);') History
                li
                  a(href='javascript:void(0);') Africa
                li
                  a(href='javascript:void(0);') Arab States
                li
                  a(href='javascript:void(0);') Asia and the Pacific
                li
                  a(href='javascript:void(0);') Europe and Central Asia
                li
                  a(href='javascript:void(0);') Latin America and the Caribbean
                li
                  a(href='javascript:void(0);') Looking forward
          .col-md-4.col-sm-4
            .info-wrap.goal-wrap
              h4
                a(href='javascript:void(0);') Sustainable Development Goals &raquo;
              img(src='images/goals.png', alt='Sustainable Development Goals', class='img-responsive')
          .col-md-4.col-sm-4
            .info-wrap.prespective-wrap
              h4
                a(href='javascript:void(0);') Our Perspectives &raquo;
              a(href='javascript:void(0);') Transforming local communities amidst conflict
              .media
                .media-body
                  h4.media-heading 03 Mar 2016
                  p Looking back 50 years, the concept of development has shifted.
                .media-right
                  a(href='javascript:void(0);')
                    img.media-object(src='images/img-prespective.png', alt='Perspectives')
